# Machine Learning with Data extracted from Pokemons

## Location of data obtained¶

- Niantic Pokemon 
https://www.pokemon.com/us/pokedex/
- My Scrapper 
https://github.com/Renanrbsc/DatabasePokemon/tree/master/backend/scrapper
- Text file Pokemon resume 
https://github.com/Renanrbsc/DatabasePokemon/blob/master/backend/scrapper/data_save/pokemons.txt
- Text file Pokemon types https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/types_pokemons.txt
- Text file Pokemon Status
https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/status_pokemons.txt

### Imports

In [2]:
import pandas as pd

### Load CSV Kaggle

In [19]:
path = r'datasets/PokemonKaggle.csv'
kaggle = pd.read_csv(path, sep=',')

kaggle.columns = ["ID", "Name", "Type_1", "Type_2", "Total", "HP", "Attack", "Defense", "Sp_Atk", "Sp_Def", "Speed", "Generation", "Legendary"]
kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          800 non-null    int64
 1   Name        800 non-null    object
 2   Type_1      800 non-null    object
 3   Type_2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp_Atk      800 non-null    int64
 9   Sp_Def      800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

### Load files and convert in CSV

#### Load main text file

In [8]:
path = r'https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/pokemons.txt'
main = pd.read_csv(path, sep=';', header=None)

main.columns = ['name', 'types', 'height', 'weight', 'category', 
                'ability', 'ability_two', 'weakness', 'weakness_two', 'description']
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          809 non-null    object
 1   types         809 non-null    object
 2   height        809 non-null    float64
 3   weight        809 non-null    float64
 4   category      809 non-null    object
 5   ability       807 non-null    object
 6   ability_two   380 non-null    object
 7   weakness      809 non-null    object
 8   weakness_two  712 non-null    object
 9   description   809 non-null    object
dtypes: float64(2), object(8)
memory usage: 63.3+ KB

#### Load types and drop type in main

In [9]:
path = r'https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/types_pokemons.txt'
types = pd.read_csv(path, sep=';', header=None)

types.columns = ['type', 'type_two']

types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      809 non-null    object
 1   type_two  405 non-null    object
dtypes: object(2)
memory usage: 12.8+ KB

In [10]:
main.drop(columns=["types"], axis=1, inplace=True)

In [11]:
main.head()

,name,height,weight,category,ability,ability_two,weakness,weakness_two,description
0,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...
1,Ivysaur,1.0,13.0,Seed,Overgrow,NaN,Fire,Flying,There is a bud on this Pokémons back. To suppo...
2,Venusaur,2.0,100.0,Seed,Overgrow,NaN,Fire,Flying,There is a large flower on Venusaurs back. The...
3,Charmander,0.6,8.5,Lizard,Blaze,NaN,Ground,Rock,The flame that burns at the tip of its tail is...
4,Charmeleon,1.1,19.0,Flame,Blaze,NaN,Ground,Rock,Charmeleon mercilessly destroys its foes using...

In [12]:
path = r'https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/status_pokemons.txt'
status = pd.read_csv(path, sep=';', header=None)

status.columns = ["HP", "Attack", "Defense", "Special_Attack", "Special_Defense", "Speed"]

status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   HP               809 non-null    int64
 1   Attack           809 non-null    int64
 2   Defense          809 non-null    int64
 3   Special_Attack   809 non-null    int64
 4   Special_Defense  809 non-null    int64
 5   Speed            809 non-null    int64
dtypes: int64(6)
memory usage: 38.0 KB

### Create new DF with IDs

In [13]:
df_ids = pd.DataFrame({'id_pokedex': list(range(1,810))})
df_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_pokedex  809 non-null    int64
dtypes: int64(1)
memory usage: 6.4 KB

### Merger between the two DFs

In [14]:
df_merged = pd.concat([df_ids, types, main, status], axis=1)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pokedex       809 non-null    int64
 1   type             809 non-null    object
 2   type_two         405 non-null    object
 3   name             809 non-null    object
 4   height           809 non-null    float64
 5   weight           809 non-null    float64
 6   category         809 non-null    object
 7   ability          807 non-null    object
 8   ability_two      380 non-null    object
 9   weakness         809 non-null    object
 10  weakness_two     712 non-null    object
 11  description      809 non-null    object
 12  HP               809 non-null    int64
 13  Attack           809 non-null    int64
 14  Defense          809 non-null    int64
 15  Special_Attack   809 non-null    int64
 16  Special_Defense  809 non-null    int64
 17  Speed            809 non-null    int64
dtypes: float64(2), int64(7), object(9)
memory usage: 113.9+ KB

In [15]:
df_merged.head()

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
0,1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...,3,3,3,4,4,3
1,2,Grass,Poison,Ivysaur,1.0,13.0,Seed,Overgrow,NaN,Fire,Flying,There is a bud on this Pokémons back. To suppo...,4,4,4,5,5,4
2,3,Grass,Poison,Venusaur,2.0,100.0,Seed,Overgrow,NaN,Fire,Flying,There is a large flower on Venusaurs back. The...,5,5,5,6,6,5
3,4,Fire,NaN,Charmander,0.6,8.5,Lizard,Blaze,NaN,Ground,Rock,The flame that burns at the tip of its tail is...,3,4,3,4,3,4
4,5,Fire,NaN,Charmeleon,1.1,19.0,Flame,Blaze,NaN,Ground,Rock,Charmeleon mercilessly destroys its foes using...,4,4,4,5,4,5

In [16]:
df_merged.tail()

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
804,805,Rock,Steel,Stakataka,5.5,820.0,Rampart,Beast Boost,NaN,Water,Fighting,It appeared from an Ultra Wormhole. Each oneap...,4,8,13,4,6,1
805,806,Fire,Ghost,Blacephalon,1.8,13.0,Fireworks,Beast Boost,NaN,Water,Ghost,"It slithers toward people. Then, without warni...",4,8,4,9,5,7
806,807,Electric,NaN,Zeraora,1.5,44.5,Thunderclap,Volt Absorb,NaN,Ground,NaN,It electrifies its claws and tears its opponen...,6,7,5,6,5,9
807,808,Steel,NaN,Meltan,0.2,8.0,Hex Nut,NaN,NaN,Fire,Fighting,It melts particles of iron and other metals fo...,3,4,4,4,3,2
808,809,Steel,NaN,Melmetal,2.5,800.0,Hex Nut,NaN,NaN,Fire,Fighting,Revered long ago for its capacity to create ir...,8,9,9,5,4,2

### Convert in csv

In [17]:
df_merged.to_csv(r'datasets\pokemons.csv', index=None)

In [18]:
df_merged = pd.read_csv(r'datasets\pokemons.csv')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pokedex       809 non-null    int64
 1   type             809 non-null    object
 2   type_two         405 non-null    object
 3   name             809 non-null    object
 4   height           809 non-null    float64
 5   weight           809 non-null    float64
 6   category         809 non-null    object
 7   ability          807 non-null    object
 8   ability_two      380 non-null    object
 9   weakness         809 non-null    object
 10  weakness_two     712 non-null    object
 11  description      809 non-null    object
 12  HP               809 non-null    int64
 13  Attack           809 non-null    int64
 14  Defense          809 non-null    int64
 15  Special_Attack   809 non-null    int64
 16  Special_Defense  809 non-null    int64
 17  Speed            809 non-null    int64
dtypes: float64(2), int64(7), object(9)
memory usage: 113.9+ KB