# Machine Learning with Data extracted from Pokemons

## Location of data obtained¶

- Niantic Pokemon https://www.pokemon.com/us/pokedex/
- My Scrapper https://github.com/Renanrbsc/DatabasePokemon/tree/master/backend/scrapper
- Text file https://github.com/Renanrbsc/DatabasePokemon/blob/master/backend/scrapper/data_save/pokemons.txt
- Text file Pokemon types https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/types_pokemons.txt
- Text file Pokemon Status
https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/status_pokemons.txt

### Imports

In [1]:
import pandas as pd

## Loading csv file

In [2]:
pokemons = pd.read_csv('datasets/pokemons.csv', sep=',', header=0)
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pokedex       809 non-null    int64
 1   type             809 non-null    object
 2   type_two         405 non-null    object
 3   name             809 non-null    object
 4   height           809 non-null    float64
 5   weight           809 non-null    float64
 6   category         809 non-null    object
 7   ability          807 non-null    object
 8   ability_two      380 non-null    object
 9   weakness         809 non-null    object
 10  weakness_two     712 non-null    object
 11  description      809 non-null    object
 12  HP               809 non-null    int64
 13  Attack           809 non-null    int64
 14  Defense          809 non-null    int64
 15  Special_Attack   809 non-null    int64
 16  Special_Defense  809 non-null    int64
 17  Speed            809 non-null    int64
dtypes: float64(2), int64(7), object(9)
memory usage: 113.9+ KB

## Exploratory Analysis

#### We'll check columns in the df

In [3]:
pokemons.shape

(809, 18)

In [4]:
pokemons.index

RangeIndex(start=0, stop=809, step=1)

In [5]:
pokemons.columns

Index(['id_pokedex', 'type', 'type_two', 'name', 'height', 'weight',
       'category', 'ability', 'ability_two', 'weakness', 'weakness_two',
       'description', 'HP', 'Attack', 'Defense', 'Special_Attack',
       'Special_Defense', 'Speed'],
      dtype='object')

In [6]:
pokemons.dtypes

id_pokedex           int64
type                object
type_two            object
name                object
height             float64
weight             float64
category            object
ability             object
ability_two         object
weakness            object
weakness_two        object
description         object
HP                   int64
Attack               int64
Defense              int64
Special_Attack       int64
Special_Defense      int64
Speed                int64
dtype: object

#### We'll see first and last record

In [7]:
pokemons.head(1)

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
0,1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...,3,3,3,4,4,3

In [8]:
pokemons.tail(1)

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
808,809,Steel,NaN,Melmetal,2.5,800.0,Hex Nut,NaN,NaN,Fire,Fighting,Revered long ago for its capacity to create ir...,8,9,9,5,4,2

#### Let's select the id_pokemon column and set it as the index

In [9]:
pokemons.set_index('id_pokedex', inplace=True)

In [10]:
pokemons.head()

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...,3,3,3,4,4,3
2,Grass,Poison,Ivysaur,1.0,13.0,Seed,Overgrow,NaN,Fire,Flying,There is a bud on this Pokémons back. To suppo...,4,4,4,5,5,4
3,Grass,Poison,Venusaur,2.0,100.0,Seed,Overgrow,NaN,Fire,Flying,There is a large flower on Venusaurs back. The...,5,5,5,6,6,5
4,Fire,NaN,Charmander,0.6,8.5,Lizard,Blaze,NaN,Ground,Rock,The flame that burns at the tip of its tail is...,3,4,3,4,3,4
5,Fire,NaN,Charmeleon,1.1,19.0,Flame,Blaze,NaN,Ground,Rock,Charmeleon mercilessly destroys its foes using...,4,4,4,5,4,5

### We'll look at the Pokémon type column now

In [11]:
# Column 'type'
# amount of types // total amount // number of nulls
pokemons['type'].nunique(), pokemons['type'].shape, pokemons['type'].isnull().sum()

(18, (809,), 0)

In [12]:
# Column 'type_two'
# amount of types // total amount // number of nulls
pokemons['type_two'].nunique(), pokemons['type_two'].shape, pokemons['type_two'].isnull().sum()

(18, (809,), 404)

In [13]:
type_one = pokemons['type'].value_counts()
type_one.head(18)

Water       114
Normal      105
Grass        78
Bug          72
Psychic      53
Fire         53
Rock         46
Electric     40
Poison       34
Ground       32
Dark         29
Fighting     29
Ghost        27
Dragon       27
Steel        26
Ice          23
Fairy        18
Flying        3
Name: type, dtype: int64

In [14]:
type_two = pokemons['type_two'].value_counts()
type_two.head(18)

Flying      95
Poison      32
Ground      32
Psychic     29
Fairy       29
Fighting    25
Steel       23
Grass       19
Dragon      18
Water       17
Dark        17
Ghost       16
Rock        14
Fire        11
Ice         11
Electric     8
Bug          5
Normal       4
Name: type_two, dtype: int64

In [15]:
total_types = type_one.sort_index() + type_two.sort_index()
total_types.sort_values(ascending=False).head(18)

Water       131
Normal      109
Flying       98
Grass        97
Psychic      82
Bug          77
Poison       66
Fire         64
Ground       64
Rock         60
Fighting     54
Steel        49
Electric     48
Fairy        47
Dark         46
Dragon       45
Ghost        43
Ice          34
dtype: int64

### -------------------------- Search --------------------------------------------------------------------

Fast Search https://www.pokemon.com/br/pokedex/200

In [16]:
pokemons[pokemons.index == 200]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
200,Ghost,NaN,Misdreavus,0.7,1.0,Screech,Levitate,NaN,Dark,Ghost,"Misdreavus frightens people with a creepy, sob...",4,4,4,5,5,5

Fast Search https://www.pokemon.com/br/pokedex/750

In [17]:
pokemons[pokemons.index == 750]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
750,Ground,NaN,Mudsdale,2.5,920.0,Draft Horse,Own Tempo,Stamina,Water,Grass,It spits a mud that provides resistance to bot...,6,8,6,4,5,3

In [18]:
pokemons[pokemons.Defense >= 14]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
213,Bug,Rock,Shuckle,0.6,20.5,Mold,Sturdy,Gluttony,Rock,Steel,"Shuckle quietly hides itself under rocks, keep...",2,1,14,1,14,1

In [19]:
pokemons['category'].nunique()

590

In [20]:
pokemons['category'].nunique()

590

In [21]:
pokemons['category'].shape

(809,)

In [22]:
pokemons[['type', 'type_two', 'ability', 'ability_two', 'weakness', 'weakness_two']]

                type type_two      ability ability_two weakness weakness_two
id_pokedex
1              Grass   Poison     Overgrow         NaN     Fire       Flying
2              Grass   Poison     Overgrow         NaN     Fire       Flying
3              Grass   Poison     Overgrow         NaN     Fire       Flying
4               Fire      NaN        Blaze         NaN   Ground         Rock
5               Fire      NaN        Blaze         NaN   Ground         Rock
...              ...      ...          ...         ...      ...          ...
805             Rock    Steel  Beast Boost         NaN    Water     Fighting
806             Fire    Ghost  Beast Boost         NaN    Water        Ghost
807         Electric      NaN  Volt Absorb         NaN   Ground          NaN
808            Steel      NaN          NaN         NaN     Fire     Fighting
809            Steel      NaN          NaN         NaN     Fire     Fighting

[809 rows x 6 columns]

In [23]:
# pokemon_types = pokemons[['type', 'type_two']].copy()
# dummies_types = pd.get_dummies(pokemon_types['type'])

# pokemon_types.drop(columns='type', inplace=True)
# pokemon_types.rename(columns={'type_two': 'type'}, inplace=True)

# dummies_types = dummies_types + pd.get_dummies(pokemon_types['type'])
# dummies_types

In [24]:
pokemon_weakness = pokemons[['weakness', 'weakness_two']].copy()
dummies_weakness = pd.get_dummies(pokemon_weakness['weakness'])

pokemon_weakness.drop(columns='weakness', inplace=True)
pokemon_weakness.rename(columns={'weakness_two': 'weakness'}, inplace=True)

dummies_weakness = dummies_weakness + pd.get_dummies(pokemon_weakness['weakness'])

dummies_weakness.rename(columns={'None': 'Normal'}, inplace=True)
dummies_weakness['Normal'].fillna(0, inplace=True)
dummies_weakness['Normal'] = dummies_weakness['Normal'].astype(int)

dummies_weakness

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
id_pokedex,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
806,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
807,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
808,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
809,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0

In [25]:
pokemon_skills = pokemons[['ability', 'ability_two']].copy()
dummies_skills = pd.get_dummies(pokemon_skills['ability'])

pokemon_skills.drop(columns='ability', inplace=True)
pokemon_skills.rename(columns={'ability_two': 'ability'}, inplace=True)

dummies_skills_two = pd.get_dummies(pokemon_skills['ability'])

dummies_skills

,Adaptability,Aftermath,Air Lock,Anticipation,Arena Trap,Aura Break,Bad Dreams,Battery,Battle Armor,Beast Boost,...,Unaware,Victory Star,Vital Spirit,Volt Absorb,Water Absorb,Water Bubble,Water Compaction,White Smoke,Wimp Out,Wonder Guard
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
806,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
807,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
809,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
pokemon_category = pokemons['category'].copy()
pokemon_category

id_pokedex
1             Seed
2             Seed
3             Seed
4           Lizard
5            Flame
          ...
805        Rampart
806      Fireworks
807    Thunderclap
808        Hex Nut
809        Hex Nut
Name: category, Length: 809, dtype: object

In [27]:
pokemon_category = pokemons['category'].copy()
dummies_category = pd.get_dummies(pokemon_category)

dummies_category

,Abundance,Acorn,Alpha,Angler,Ant Pit,Anteater,Antenna,Aqua Mouse,Aqua Rabbit,Arm Thrust,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
806,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
807,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
809,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
pokemon_all_dummies = pd.concat([dummies_weakness, dummies_skills_two, dummies_skills, dummies_category], axis=1)
pokemon_all_dummies

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
806,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
807,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
808,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
809,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
pokemons_ml = pd.concat([pokemons[['type', 'height','weight','category','HP',
                                   'Attack','Defense','Special_Attack',
                                   'Special_Defense','Speed']], pokemon_all_dummies], axis=1)
pokemons_ml

,type,height,weight,category,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,Grass,0.7,6.9,Seed,3,3,3,4,4,3,...,0,0,0,0,0,0,0,0,0,0
2,Grass,1.0,13.0,Seed,4,4,4,5,5,4,...,0,0,0,0,0,0,0,0,0,0
3,Grass,2.0,100.0,Seed,5,5,5,6,6,5,...,0,0,0,0,0,0,0,0,0,0
4,Fire,0.6,8.5,Lizard,3,4,3,4,3,4,...,0,0,0,0,0,0,0,0,0,0
5,Fire,1.1,19.0,Flame,4,4,4,5,4,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,Rock,5.5,820.0,Rampart,4,8,13,4,6,1,...,0,0,0,0,0,0,0,0,0,0
806,Fire,1.8,13.0,Fireworks,4,8,4,9,5,7,...,0,0,0,0,0,0,0,0,0,0
807,Electric,1.5,44.5,Thunderclap,6,7,5,6,5,9,...,0,0,0,0,0,0,0,0,0,0
808,Steel,0.2,8.0,Hex Nut,3,4,4,4,3,2,...,0,0,0,0,0,0,0,0,0,0
809,Steel,2.5,800.0,Hex Nut,8,9,9,5,4,2,...,0,0,0,0,0,0,0,0,0,0

In [30]:
pokemons_ml.drop(columns='category', inplace=True)

In [31]:
pokemons_ml

,type,height,weight,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Bug,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,Grass,0.7,6.9,3,3,3,4,4,3,0,...,0,0,0,0,0,0,0,0,0,0
2,Grass,1.0,13.0,4,4,4,5,5,4,0,...,0,0,0,0,0,0,0,0,0,0
3,Grass,2.0,100.0,5,5,5,6,6,5,0,...,0,0,0,0,0,0,0,0,0,0
4,Fire,0.6,8.5,3,4,3,4,3,4,0,...,0,0,0,0,0,0,0,0,0,0
5,Fire,1.1,19.0,4,4,4,5,4,5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,Rock,5.5,820.0,4,8,13,4,6,1,0,...,0,0,0,0,0,0,0,0,0,0
806,Fire,1.8,13.0,4,8,4,9,5,7,0,...,0,0,0,0,0,0,0,0,0,0
807,Electric,1.5,44.5,6,7,5,6,5,9,0,...,0,0,0,0,0,0,0,0,0,0
808,Steel,0.2,8.0,3,4,4,4,3,2,0,...,0,0,0,0,0,0,0,0,0,0
809,Steel,2.5,800.0,8,9,9,5,4,2,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
pokemons_ml[['HP', 'Attack', 'Defense', 'Special_Attack', 'Special_Defense', 'Speed']]

            HP  Attack  Defense  Special_Attack  Special_Defense  Speed
id_pokedex
1            3       3        3               4                4      3
2            4       4        4               5                5      4
3            5       5        5               6                6      5
4            3       4        3               4                3      4
5            4       4        4               5                4      5
...         ..     ...      ...             ...              ...    ...
805          4       8       13               4                6      1
806          4       8        4               9                5      7
807          6       7        5               6                5      9
808          3       4        4               4                3      2
809          8       9        9               5                4      2

[809 rows x 6 columns]

In [33]:
pokemons['type'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [34]:
pokemons_ml['type'] = pokemons_ml['type'].map({'Grass':1, 'Fire':2, 'Water':3, 'Bug':4, 'Normal':5, 
                                               'Poison':6, 'Electric':7, 'Ground':8, 'Fairy':9, 
                                               'Fighting':10, 'Psychic':11, 'Rock':12, 'Ghost':13, 
                                               'Ice':14, 'Dragon':15, 'Dark':16, 'Steel':17, 'Flying':18})

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [36]:
# passando os valores de x e y como Dataframes
y = pokemons_ml['type']
pokemons_ml.drop(columns='type', inplace=True)
x = pokemons_ml

In [37]:
# Divisão dos dados em 80% Treino e 20% Test de Predição
xtrain, xtest, ytrain, ytest = train_test_split(x, y,
                                                test_size=0.2, 
                                                random_state=42)
# criando e treinando o modelo
model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [47]:
# para visualizar os coeficientes encontrados
model.coef_

array([ 3.06112774e-13, -9.88098492e-15,  1.58095759e-13,  1.21014310e-13,
        4.67403893e-14, -6.85895785e-13,  4.10484147e-13, -4.37982983e-13,
        2.23196461e-12,  5.56743540e-12,  5.84202825e-13,  3.17956772e-12,
        3.12563864e-12,  3.19172466e-12, -3.99825850e-01,  2.26318964e-12,
        1.11066711e-12,  1.75132131e-12,  4.34916686e-12,  2.23995822e-12,
        5.32936893e-05, -7.22272797e-01, -5.15578672e-01,  2.72798797e-12,
        4.04595874e+00,  1.82829099e-12,  3.26066254e-01, -3.58344192e-01,
       -3.69184355e-01, -1.08202241e+00,  6.20417669e+00,  2.83868370e-01,
       -3.15037926e-12,  4.17905416e+00,  1.47155013e+00, -1.48684827e+00,
        8.56587441e-01, -2.60240750e+00, -7.57978461e-02,  3.05807630e+00,
       -4.67361876e-01, -1.85062533e+00,  6.01749697e+00, -8.72244070e-01,
        3.00000000e+00,  1.24604589e+00,  2.08083660e-01,  4.98912084e+00,
       -4.24168848e+00, -5.55036571e-01,  3.32865050e+00,  1.48376610e+00,
       -6.63895206e-01,  7.18444300e-06,  3.03212697e+00, -2.09877058e+00,
       -3.09167892e+00,  6.71326766e-02, -1.84049300e+00, -1.18010314e+00,
        4.26219447e+00, -2.93351040e+00, -8.40498877e-01, -1.56099889e+00,
       -7.60040946e-01, -2.01385123e+00, -4.28997285e-01, -1.07860631e+00,
        2.01739390e+00,  2.15244670e+00, -3.11081524e+00, -1.81467753e+00,
        8.26066555e-01, -5.12551930e+00,  7.75559095e-01, -1.43093206e+00,
        1.16973027e+00, -7.35208509e-01,  4.12380638e+00,  5.15802721e+00,
       -1.87262496e+00,  3.70113842e+00, -2.61587491e+00, -2.76448456e-06,
       -2.71109555e-01, -1.00821769e+00,  4.15195903e+00, -1.60843589e+00,
        2.50643157e-01,  2.00875774e-12, -2.23031052e+00, -1.60377279e-01,
       -7.98804113e-01,  2.44666619e+00, -1.74272442e+00,  1.26479098e+00,
        1.57100483e+00,  2.08586232e+00, -1.40528039e+00,  8.36173030e-02,
       -1.18678344e+00,  2.16144013e+00, -8.40502906e-01, -6.34413143e-01,
        7.49621818e+00, -1.91130918e+00, -1.68625202e+00, -1.60996216e-12,
       -9.95006974e+00,  6.77049501e+00, -1.20964940e+00,  4.77013572e-01,
        3.26067709e-01, -7.24137950e-01, -1.13418324e+00,  3.79353564e-02,
        1.57100630e+00, -3.97292383e-01, -1.54909563e+00,  2.11573814e-13,
        6.71326766e-02, -1.63205734e+00, -1.48687132e+00, -4.88674124e-02,
       -3.18710336e-13,  9.90114241e-13,  4.44643475e-01, -4.30933135e-01,
        2.55040784e+00,  2.78969903e-12,  5.41357896e+00, -3.05617197e+00,
       -2.14898935e-01, -7.26879217e-01,  4.63939451e+00, -2.66326439e+00,
        1.97801082e+00, -2.41638397e+00,  3.87652969e+00, -1.56537729e+00,
       -1.00559433e-01,  1.80834369e+00, -4.36130255e-01, -1.22497278e-06,
       -2.05079879e-06,  1.06900182e-06, -7.28461782e-08,  3.90968254e+00,
        4.40968464e+00, -1.39040324e+00, -1.26757688e-01,  2.28866441e-01,
        1.78855569e+00, -8.32764605e-01, -3.70929430e+00,  6.07040939e+00,
       -1.27053996e-06,  2.00988095e+00,  1.92934379e-01, -3.32527834e-01,
       -1.63841303e+00, -5.89390285e+00, -2.59031683e+00,  4.40968498e+00,
        2.40968369e+00,  8.86705374e-01, -1.39040245e+00, -2.09031672e+00,
       -8.63122653e-07,  2.08484737e-01, -1.09031690e+00, -4.22467236e+00,
        3.28011154e+00, -1.59031658e+00, -7.52159096e-01, -2.31876955e+00,
       -8.32764605e-01, -2.89040401e+00, -1.07451805e+00,  6.39390848e-07,
        5.91526355e+00,  2.10959778e+00, -1.09031467e+00, -4.18457348e+00,
       -7.08829415e+00, -8.94210493e-01, -1.00288145e+00, -1.59031582e+00,
        1.21290799e+00, -1.96850575e+00, -1.07684872e+00,  5.15656162e+00,
       -2.41638063e+00,  4.40968355e+00, -1.09031640e+00, -2.09031611e+00,
        1.92934379e-01,  1.55933368e+00,  1.92934379e-01, -2.89040336e+00,
       -1.22390486e+00,  1.01543544e+00, -7.27236586e-02, -5.55008180e-01,
       -4.12013959e+00,  5.67101722e+00,  2.37641270e+00,  8.05369332e-01,
       -1.78513740e-01,  2.02681620e-01,  1.90968373e+00, -2.59031635e+00,
       -7.89112246e-01, -2.78708517e+00,  6.19638895e-07, -1.44216126e+00,
        2.40968326e+00,  5.03787740e-01, -8.32525673e-01,  3.87958209e+00,
       -6.05657593e-01,  5.10959735e+00, -1.80812847e+00, -4.91894370e+00,
        7.62448202e-01, -3.02676492e+00,  1.97158288e+00, -1.85699588e+00,
        2.51978752e+00, -8.32764605e-01, -8.26320163e-08,  2.51188000e+00,
        1.40968372e+00, -1.26757688e-01,  1.66747284e+00, -2.87200411e-07,
        3.86704271e-01, -4.75053046e-01,  4.66810379e+00, -7.32898278e+00,
       -2.83276460e+00,  4.09684830e-01,  8.36180923e-02,  4.09682544e-01,
        1.67235395e-01, -2.74842657e+00, -2.09031527e+00,  2.69279659e+00,
        1.90968333e+00,  2.54625381e+00,  1.92934379e-01, -2.59031591e+00,
       -1.38565871e+00, -2.62924292e+00, -2.30560599e-06, -7.26877960e-01,
       -1.09031662e+00, -3.30098692e+00,  5.15656162e+00, -2.89040308e+00,
        5.10959615e+00, -5.38696963e-01, -3.65281919e+00,  5.10959608e+00,
       -8.32764605e-01,  1.90968341e+00,  3.10959711e+00, -4.63932828e-01,
       -2.09031627e+00, -4.79345141e-01,  1.92934379e-01,  4.23224783e+00,
       -1.63547287e+00,  1.92934379e-01, -1.00288638e+00, -1.85699588e+00,
        4.68123045e+00, -2.86098054e-01,  1.45540622e-01,  3.90968333e+00,
       -4.99626190e-01, -1.73235833e+00, -4.65281919e+00, -4.36130255e-01,
       -1.45375052e+00,  3.90968394e+00,  3.04048768e+00,  4.17902503e-07,
        2.06891111e+00, -2.64744213e+00, -3.24594281e+00, -2.09031619e+00,
        3.87957383e+00, -2.59031741e+00, -1.59031570e+00, -1.39040255e+00,
        4.09682886e-01, -3.31755803e+00, -8.32527939e-01,  6.52132321e-01,
       -2.26111136e-07, -3.68397247e+00,  2.09685531e+00, -5.89327176e-01,
       -5.89327176e-01, -1.57450194e-07,  7.12656929e-08,  1.02919172e+01,
        9.74400214e-08,  5.10959741e+00,  5.06511674e-01, -4.37356666e+00,
       -3.10476428e-01,  3.02625919e+00, -2.29490751e-07, -1.09174122e-01,
        1.80834241e+00,  3.13639355e+00, -2.97374081e+00,  3.26064612e-01,
       -1.02811729e-06,  1.10845102e-06, -1.26349769e+00,  5.87119889e-01,
        1.04022284e-01, -9.83418393e-07, -1.37356666e+00, -1.39040319e+00,
       -2.10790863e+00, -7.26875107e-01,  6.31169214e-07, -2.09875167e+00,
       -2.34786768e+00, -1.85164950e+00,  8.89209137e+00, -1.70427520e+00,
       -3.85733276e+00,  4.72186902e-01, -1.64193532e+00,  5.23095786e-07,
       -2.10790863e+00,  6.17976715e+00, -2.79497357e+00,  1.90968431e+00,
       -8.61862731e-01, -2.86186273e+00, -9.29304434e-07, -4.34786768e+00,
       -2.59031637e+00, -1.00059176e-06,  1.10818243e-09, -2.89040243e+00,
       -1.51818514e-06, -3.84873608e+00,  2.87885299e+00,  1.51263922e-01,
        5.06511674e-01,  8.65213232e+00, -1.30793565e+00,  2.39440121e+00,
        1.27311391e+00,  1.51604938e+00,  1.51604938e+00,  3.14835050e+00,
       -7.35214435e-01,  4.72186902e-01, -9.34689475e-01,  1.84207370e-07,
       -1.14518237e+01, -8.87678589e-07, -4.63076247e-01, -3.37356666e+00,
       -5.94804183e+00,  1.66301148e+00, -1.49377766e-06, -5.80911989e-01,
        4.98481477e-07, -1.09031588e+00, -1.37756573e+00, -1.06243163e+00,
        7.65213232e+00,  3.80393228e+00, -5.35272930e-01, -7.43430292e-01,
       -4.30929596e-01, -2.15221517e+00, -2.07151213e+00,  5.41788836e-14,
        2.06263194e+00, -4.34786768e+00, -9.86862730e-01, -1.48686949e+00,
        3.05679943e+00, -2.32617291e+00, -4.85164950e+00, -1.77635684e-14,
       -2.59031487e+00,  1.47215573e-13, -2.47133798e+00, -2.97374081e+00,
        1.93978563e+00,  2.70677567e+00,  4.10782519e-14, -1.09031566e+00,
       -5.19606772e+00,  3.45670307e+00,  4.62643334e+00,  3.89209137e+00,
       -1.26168858e+00, -3.64210737e+00, -1.57497469e+00, -5.01431843e-01,
       -6.73959506e+00,  1.03930310e+00, -1.37356666e+00, -2.97374081e+00,
        3.37460387e+00,  1.54817635e+00, -7.43430292e-01,  8.29958020e+00,
        4.65213232e+00, -2.59031546e+00,  9.65213232e+00,  8.89209137e+00,
       -1.11475464e+00,  1.00262592e+01,  3.90968438e+00, -2.32363640e+00,
        4.68332392e+00, -3.07470508e+00,  1.25275412e+00,  4.40968273e+00,
        3.37460387e+00,  2.87885299e+00, -6.25417486e-01,  9.65213232e+00,
        2.39808173e-14,  4.72186902e-01,  8.86703607e-01,  4.65213232e+00,
        1.89841579e-02, -9.63673585e-14,  1.89841579e-02,  7.62643334e+00,
       -6.00967287e+00,  4.44089210e-16, -2.03405855e+00, -4.19051323e+00,
        8.56683129e-01, -9.60412680e+00, -9.40561548e-01, -3.37507799e-14,
       -5.85164950e+00, -3.10476428e-01,  2.40148916e+00,  6.52132321e-01,
       -6.84420024e-01,  1.57100571e+00, -2.86186273e+00, -8.34887715e-14,
       -1.85164950e+00, -2.14606111e-13,  3.15126392e+00,  2.14835050e+00,
       -2.59031593e+00,  3.26066067e-01, -3.37356666e+00,  7.02625919e+00,
       -6.41464288e-01,  1.83223546e+00,  2.14384066e-13, -1.85164950e+00,
       -4.34786768e+00, -4.52970994e-14, -4.34786768e+00, -4.34786768e+00,
       -4.02304106e-02, -1.48319128e-14,  2.40968402e+00, -2.32363640e+00,
       -4.61961256e+00,  5.06511674e-01, -5.55008860e-01, -4.34786768e+00,
       -2.45942898e+00, -8.07126523e-01, -4.67327599e-01, -2.07151213e+00,
       -8.24895707e-14,  1.83223546e+00, -2.07151213e+00,  6.65213232e+00,
       -8.61862731e-01,  4.72186902e-01,  1.51263922e-01, -4.34786768e+00,
       -5.01436769e-01,  7.65213232e+00,  3.12683907e-14,  2.06263194e+00,
       -2.16325913e+00, -2.89040336e+00, -8.61862731e-01, -4.29800171e-01,
        1.48350500e-01,  4.12380430e+00, -3.34786768e+00,  4.65213232e+00,
        3.94119818e-03, -1.06581410e-14,  3.18940577e+00, -6.79456491e-14,
       -1.85066181e+00, -7.58259110e-01, -1.59623295e+00, -8.61862731e-01,
       -8.61862731e-01, -6.79624187e+00, -5.17514884e+00,  6.65213232e+00,
       -8.61862731e-01,  1.67874904e+00, -1.51563515e-01,  2.69736853e+00,
       -9.40561548e-01, -1.59031570e+00,  4.62643334e+00,  2.40968445e+00,
        2.70894418e-14,  4.09685172e-01, -4.34786768e+00, -8.61862731e-01,
       -2.37250382e+00,  1.02191936e+01, -3.73308798e+00, -9.96058802e-01,
        1.40332190e-13,  4.92529492e+00,  7.66835393e-14, -1.39354711e+00,
        5.29884568e+00,  8.42502531e+00, -1.06861647e+00,  3.05679943e+00,
       -1.85140785e+00,  1.14878417e+00,  2.06263194e+00, -2.66858241e+00,
        4.40968416e+00,  1.51263922e-01, -2.97374081e+00,  1.34094807e-01,
       -3.07470508e+00,  7.60645973e+00,  4.14878417e+00, -3.07531778e-14,
        5.15126392e+00,  4.14878417e+00,  4.14878417e+00,  4.14878417e+00,
        5.55108977e+00,  9.20375813e+00, -5.12552238e+00, -9.46778044e-01,
       -5.29700041e+00, -5.80911989e-01, -7.68274333e-14, -6.21724894e-14,
        8.59050128e+00,  2.43416398e-14,  7.69940605e+00,  1.26478607e+00,
        5.29884568e+00, -8.85822063e-01,  7.62241832e-14, -1.85164950e+00,
        1.66301148e+00,  7.65213232e+00,  1.28654546e+00, -2.73847102e+00,
       -2.97374081e+00,  9.99032713e+00, -1.43093067e+00, -4.34786768e+00,
       -7.26881764e-01, -8.61862731e-01,  4.03930310e+00, -1.13187818e+00,
        1.23593207e+00, -7.52159127e-01,  6.52132321e-01,  2.46680985e+00,
       -2.04231485e+00, -2.49409420e+00, -7.54951657e-14, -2.22044605e-16,
       -4.34786768e+00, -5.67103904e-01, -2.03405855e+00, -7.02628237e-01,
       -9.59889587e-01, -3.61961256e+00,  3.84613264e+00,  4.01489163e-01,
        1.33226763e-15,  8.25601777e-01, -1.64193532e+00, -1.18678323e+00,
       -1.85164950e+00,  1.66301148e+00,  7.65213232e+00, -5.32907052e-15,
       -1.14347108e+00, -1.14347108e+00,  5.06511674e-01, -3.81821014e+00,
       -2.10942375e-15,  4.26003403e+00,  1.57100718e+00,  1.40968400e+00,
       -4.34786768e+00, -7.43430292e-01,  1.51263922e-01, -4.87342887e+00,
       -5.01431843e-01, -3.10862447e-15, -8.51649500e-01, -8.40503188e-01,
        1.04022284e-01,  1.90968398e+00, -5.35272930e-01,  1.35231955e+00,
       -1.22124533e-15,  6.52132321e-01,  1.90968439e+00,  4.13813727e+00,
       -3.37356666e+00, -3.03237987e+00,  6.52132321e-01,  4.72186902e-01,
       -5.35272930e-01, -3.26706130e+00, -1.55613408e+00, -2.10790863e+00,
        1.11022302e-16, -2.10790863e+00,  7.78880032e-01, -7.74540772e-01,
       -8.61862731e-01,  4.72186902e-01, -1.68625179e+00,  0.00000000e+00,
       -7.24136002e-01, -4.08382206e+00,  9.00166668e-01,  3.90968518e+00,
        4.62643334e+00,  1.52904359e+00, -9.40573994e-02, -7.17737019e-01,
       -1.39040399e+00,  5.44542539e-01, -1.09031538e+00,  1.27311391e+00,
        4.72186902e-01, -5.01436769e-01,  2.25682702e+00,  1.63521963e+00,
       -1.61487044e+00,  4.40968308e+00,  2.83925914e-01, -5.85164950e+00,
        9.00166668e-01, -4.34786768e+00,  0.00000000e+00,  0.00000000e+00,
       -8.92474879e-02, -2.97374081e+00, -6.33607083e+00, -1.51563515e-01,
       -8.93920053e-01, -1.91301311e+00, -1.32363640e+00, -1.09031761e+00,
        4.72186902e-01, -2.14901236e-01, -2.37356666e+00, -2.71109699e-01,
        0.00000000e+00,  0.00000000e+00, -4.85058023e+00, -5.45159416e-01,
        3.62643334e+00,  9.24595849e+00,  1.39027614e+00,  0.00000000e+00,
       -1.13187818e+00, -2.66405817e-02, -4.34786768e+00,  0.00000000e+00,
       -8.61862731e-01, -2.32363640e+00,  0.00000000e+00,  1.48350500e-01,
        5.45309026e+00,  1.52904359e+00,  0.00000000e+00,  1.51263922e-01,
        3.15126392e+00, -1.46225748e+00, -1.25104168e+00,  5.71357821e+00,
        1.51263922e-01, -1.61487044e+00, -1.07861282e+00, -4.70557924e+00,
        1.25275412e+00,  5.10959749e+00, -1.61487044e+00,  1.51002784e+00,
        0.00000000e+00,  1.93979389e+00,  1.93979389e+00,  3.14835050e+00,
        0.00000000e+00,  4.17901052e+00, -5.94804183e+00,  0.00000000e+00,
       -7.57656691e-02, -2.86186273e+00, -3.68399621e+00, -7.02628237e-01,
        8.46132639e-01,  0.00000000e+00,  0.00000000e+00, -2.09031556e+00,
        3.10959646e+00, -2.09031618e+00, -2.21212654e+00,  5.87119889e-01,
       -1.84051309e+00,  4.72186902e-01, -2.09031601e+00, -2.32363640e+00,
       -2.21212654e+00, -4.10790863e+00,  1.92848787e+00, -8.61862731e-01,
       -1.48689255e+00,  1.48350500e-01,  3.00876222e+00,  9.65213232e+00,
       -1.39040389e+00,  4.92529492e+00, -4.15008304e-01,  4.72186902e-01,
        4.62643334e+00, -1.66066684e+00, -4.29800171e-01,  0.00000000e+00,
       -3.58355264e-01,  0.00000000e+00,  0.00000000e+00, -7.26881764e-01,
       -8.40507217e-01, -2.01120784e-01, -2.09031701e+00,  1.09900850e+00,
       -4.28990706e-01,  0.00000000e+00,  2.06263194e+00,  2.06263194e+00,
        7.62643334e+00,  4.72186902e-01,  6.46510306e+00, -2.32363640e+00,
       -2.45942898e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -3.46284058e-01, -8.61862731e-01,  6.25389384e+00,  1.93978563e+00,
       -2.86186273e+00, -2.86098343e-01,  0.00000000e+00, -1.70395771e+00,
       -5.67103904e-01, -6.41464288e-01,  0.00000000e+00, -1.93468948e+00,
       -8.92474879e-02, -1.46225748e+00, -9.59889587e-01,  0.00000000e+00,
        5.34108506e+00,  0.00000000e+00, -8.61862731e-01,  2.10959578e+00,
        0.00000000e+00, -1.28642179e+00,  2.25682702e+00, -2.49409420e+00,
        5.10959622e+00,  3.00876222e+00, -1.85164950e+00, -2.05387460e+00,
       -2.16325913e+00,  1.66747355e+00,  0.00000000e+00, -7.89112534e-01,
       -1.30793565e+00, -1.59623295e+00,  0.00000000e+00, -2.89040307e+00,
        6.52132321e-01, -6.84420024e-01,  2.46680985e+00,  0.00000000e+00,
        0.00000000e+00, -1.59031647e+00, -2.10790863e+00, -8.61862731e-01,
        6.52132321e-01, -5.45159416e-01,  1.51002784e+00, -3.96918798e+00,
        0.00000000e+00,  4.72186902e-01, -8.61862731e-01, -3.32525778e-01,
        2.08484061e-01, -2.97374081e+00, -2.98600162e+00,  9.76619709e-01,
        8.26065765e-01,  1.96171600e-01, -1.00561351e-01,  0.00000000e+00,
        0.00000000e+00,  3.86704709e-01, -1.59031659e+00,  0.00000000e+00,
        3.13639355e+00, -5.93913574e-01,  2.25682702e+00,  2.70677567e+00,
       -9.60412680e+00,  3.90968377e+00, -1.66066684e+00, -2.16325913e+00,
        0.00000000e+00,  1.03930310e+00, -8.72257959e-01, -4.34786768e+00,
       -4.10790863e+00, -2.09031610e+00, -2.16325913e+00, -1.39354711e+00,
       -5.80911989e-01,  0.00000000e+00, -2.07151213e+00, -1.29048141e+00,
       -1.64193532e+00, -4.10790863e+00, -3.31755803e+00, -2.00438231e+00,
       -1.34786768e+00, -4.24954340e+00, -5.45159416e-01, -1.85164950e+00,
       -3.31755803e+00,  0.00000000e+00, -6.73959506e+00, -7.74540772e-01,
        7.52639698e+00,  8.46132639e-01, -8.61862731e-01, -2.10790863e+00,
        6.52132321e-01, -1.76731035e+00, -1.51563515e-01, -2.10981745e+00,
       -4.34786768e+00, -6.39354027e+00])

In [39]:
# para visualizar o R²
model.score(xtrain, ytrain)

1.0

In [40]:
# mostrando as previsões para o mesmo conjunto passado
model.predict(xtest)

array([12.        ,  8.3212508 , 17.24604589, 12.        ,  5.01080217,
        7.40949872, -0.94151131,  7.5903149 ,  7.59031483,  5.98686273,
        5.77084035,  7.37356673,  5.48689255,  7.40949872,  8.39354027,
       11.82002457, 10.55652788,  6.        ,  6.89797514, 10.22370957,
       12.        ,  5.77084035,  7.18063101,  6.34786831,  5.        ,
        5.37544017,  5.72687511,  6.60109205, 12.5024545 ,  3.76406793,
       10.        ,  9.70041828, 10.        ,  6.57497469, 15.        ,
        6.42899071,  7.18063292,  7.10790863, 11.        ,  6.64942871,
        5.77084035,  0.13419607, 11.79986867, 12.        , 12.8516495 ,
        4.95904453,  6.94804183,  6.        ,  7.37356666, 11.59031584,
        6.85798799, 12.        ,  1.        ,  1.        ,  7.37356666,
        6.34786745,  2.30793583,  3.        ,  6.34786768,  7.180632  ,
        5.91894284, 11.        ,  3.64146429, 13.26424749,  5.79497264,
        6.        ,  5.02841774,  8.        , 11.        ,  2.        ,
        4.86186273,  7.1806327 ,  5.21213422,  7.40949872,  5.37544017,
        6.        ,  3.89040307, 10.74786594, 10.68839038, 15.        ,
        4.0112713 , 10.49348833,  1.        ,  3.        ,  0.1061792 ,
       18.        ,  2.9960588 ,  9.45942898, 17.        ,  1.        ,
        6.34786768, 10.22373206,  8.        , 10.74374088, 11.23593529,
        4.07576567,  6.34786768, 12.97430102, 11.93736806, 10.75563019,
        6.18678375,  3.        ,  5.55500886,  2.5278131 ,  3.        ,
        1.        ,  4.61487044,  6.47367379,  0.1061792 ,  4.        ,
        9.34207114, 11.22658871,  6.97374081,  5.94056155, 12.8516495 ,
        7.04087349,  5.59391357,  4.        ,  7.10790774, 10.03405855,
        1.        ,  6.34786768,  3.        ,  9.94056155,  3.80712763,
        6.85798799,  3.        ,  7.65891494,  6.60053355,  6.        ,
        1.86186283, 10.94319954,  6.94263353,  5.2711097 ,  7.        ,
        0.6873    ,  6.        ,  1.46307625,  7.        ,  7.18063023,
        1.51557867,  3.80706669,  6.28642179, 12.8516495 , 17.        ,
       15.90782147,  2.5278131 , 17.00019202,  2.53077644,  6.00052885,
        7.34184942,  7.10790713,  6.34786768,  1.        ,  7.1806322 ,
        6.34786768,  7.37356666,  9.        ,  6.25130828,  1.        ,
        2.66066684, 15.19051323])

In [46]:
# para visualizar o R²
model.score(xtest, ytest)

0.5983106082460127

In [45]:
pokemons[pokemons.index == 297]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
297,Fighting,NaN,Hariyama,2.3,253.8,Arm Thrust,Guts,Thick Fat,Flying,Psychic,Hariyama practices its straight-arm slaps in a...,9,8,4,3,4,3

In [41]:
xtest

,height,weight,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Bug,Dark,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
699,2.7,225.0,8,5,5,6,6,4,0,0,...,0,0,0,0,0,0,0,0,0,0
297,2.3,253.8,9,8,4,3,4,3,0,0,...,0,0,0,0,0,0,0,0,0,0
228,0.6,10.8,3,4,2,5,3,4,0,0,...,0,0,0,0,0,0,0,0,0,0
337,1.0,168.0,6,4,4,6,5,5,1,1,...,0,0,0,0,0,0,0,0,0,0
538,1.3,55.5,8,6,5,2,5,3,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,0.1,0.1,3,3,3,4,5,3,0,0,...,0,0,0,0,0,0,0,0,0,0
674,0.6,8.0,4,5,4,3,3,3,0,0,...,0,0,0,0,0,0,0,0,0,0
756,1.0,11.5,4,3,5,6,6,2,0,0,...,0,0,0,0,0,0,0,0,0,0
754,0.9,18.5,5,7,6,5,6,3,0,0,...,0,0,0,0,0,0,0,0,0,0
517,0.6,23.3,5,2,3,4,4,2,1,0,...,0,0,0,0,0,0,0,0,0,0