# Machine Learning with Data extracted from Pokemons

## Location of data obtainedÂ¶

- Niantic Pokemon https://www.pokemon.com/us/pokedex/
- My Scrapper https://github.com/Renanrbsc/DatabasePokemon/tree/master/backend/scrapper
- Text file https://github.com/Renanrbsc/DatabasePokemon/blob/master/backend/scrapper/data_save/pokemons.txt
- Text file Pokemon types https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/types_pokemons.txt

### Imports

In [1]:
import pandas as pd

## Loading csv file

In [2]:
pokemons = pd.read_csv('datasets/pokemons.csv', sep=',', header=0)
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_pokedex    809 non-null    int64
 1   type          809 non-null    object
 2   type_two      405 non-null    object
 3   name          809 non-null    object
 4   height        809 non-null    float64
 5   weight        809 non-null    float64
 6   category      809 non-null    object
 7   ability       807 non-null    object
 8   ability_two   380 non-null    object
 9   weakness      809 non-null    object
 10  weakness_two  712 non-null    object
 11  description   809 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 76.0+ KB

## Exploratory Analysis

#### We'll check columns in the df

In [3]:
pokemons.shape

(809, 12)

In [4]:
pokemons.index

RangeIndex(start=0, stop=809, step=1)

In [5]:
pokemons.columns

Index(['id_pokedex', 'type', 'type_two', 'name', 'height', 'weight',
       'category', 'ability', 'ability_two', 'weakness', 'weakness_two',
       'description'],
      dtype='object')

In [6]:
pokemons.dtypes

id_pokedex        int64
type             object
type_two         object
name             object
height          float64
weight          float64
category         object
ability          object
ability_two      object
weakness         object
weakness_two     object
description      object
dtype: object

#### We'll see first and last record

In [7]:
pokemons.head(1)

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description
0,1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...

In [8]:
pokemons.tail(1)

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description
808,809,Steel,NaN,Melmetal,2.5,800.0,Hex Nut,NaN,NaN,Fire,Fighting,Revered long ago for its capacity to create ir...

#### Let's select the id_pokemon column and set it as the index

In [9]:
pokemons.set_index('id_pokedex', inplace=True)

In [10]:
pokemons.head()

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description
id_pokedex,,,,,,,,,,,
1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...
2,Grass,Poison,Ivysaur,1.0,13.0,Seed,Overgrow,NaN,Fire,Flying,There is a bud on this PokÃ©mons back. To suppo...
3,Grass,Poison,Venusaur,2.0,100.0,Seed,Overgrow,NaN,Fire,Flying,There is a large flower on Venusaurs back. The...
4,Fire,NaN,Charmander,0.6,8.5,Lizard,Blaze,NaN,Ground,Rock,The flame that burns at the tip of its tail is...
5,Fire,NaN,Charmeleon,1.1,19.0,Flame,Blaze,NaN,Ground,Rock,Charmeleon mercilessly destroys its foes using...

### We'll look at the PokÃ©mon type column now

In [11]:
# Column 'type'
# amount of types // total amount // number of nulls
pokemons['type'].nunique(), pokemons['type'].shape, pokemons['type'].isnull().sum()

(18, (809,), 0)

In [12]:
# Column 'type_two'
# amount of types // total amount // number of nulls
pokemons['type_two'].nunique(), pokemons['type_two'].shape, pokemons['type_two'].isnull().sum()

(18, (809,), 404)

In [44]:
type_one = pokemons['type'].value_counts()
type_one.head(18)

          type
Water      114
Normal     105
Grass       78
Bug         72
Psychic     53
Fire        53
Rock        46
Electric    40
Poison      34
Ground      32
Dark        29
Fighting    29
Dragon      27
Ghost       27
Steel       26
Ice         23
Fairy       18
Flying       3

In [45]:
type_two = pokemons['type_two'].value_counts()
type_two.head(18)

          type_two
Flying          95
Poison          32
Ground          32
Psychic         29
Fairy           29
Fighting        25
Steel           23
Grass           19
Dragon          18
Dark            17
Water           17
Ghost           16
Rock            14
Fire            11
Ice             11
Electric         8
Bug              5
Normal           4

In [57]:
total_types = type_one.sort_index() + type_two.sort_index()
total_types.sort_values(ascending=False).head(18)

Water       131
Normal      109
Flying       98
Grass        97
Psychic      82
Bug          77
Poison       66
Ground       64
Fire         64
Rock         60
Fighting     54
Steel        49
Electric     48
Fairy        47
Dark         46
Dragon       45
Ghost        43
Ice          34
dtype: int64

### -------------------------- Search --------------------------------------------------------------------

Fast Search https://www.pokemon.com/br/pokedex/200

In [16]:
pokemons[pokemons.index == 200]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description
id_pokedex,,,,,,,,,,,
200,Ghost,NaN,Misdreavus,0.7,1.0,Screech,Levitate,NaN,Dark,Ghost,"Misdreavus frightens people with a creepy, sob..."

Fast Search https://www.pokemon.com/br/pokedex/750

In [17]:
pokemons[pokemons.index == 750]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description
id_pokedex,,,,,,,,,,,
750,Ground,NaN,Mudsdale,2.5,920.0,Draft Horse,Own Tempo,Stamina,Water,Grass,It spits a mud that provides resistance to bot...