# Spark DataFrame Basics

###### Find PySpark

In [1]:
###### Read CSVs with PySpark# Testing pyspark installation
import findspark
findspark.init()
import pyspark
findspark.find()

'C:\\Program Files\\Spark\\spark-3.2.0-bin-hadoop3.2'

###### Connection with PySpark

In [2]:
# Initiate Spark Context
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('Basics').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc).builder.config("spark.sql.repl.eagerEval.enabled", True).getOrCreate()

In [3]:
# start without configuration
# spark = SparkSession.builder.appName('Basics').getOrCreate()

###### Read CSVs with PySpark

In [5]:
car_models_path = 'Datasets\cars\modelo_carro.csv'
asasa = 'Datasets\poke_go_stats.csv'
car_models_df = spark.read.option("delimiter", ",") \
                          .option("header", "true").csv(asasa)

In [6]:
car_models_df.show()

+-----+----------+-------+-------+------+----+---+------+------+-----+--------+---------+---------+--------------------+------------------+--------------------+---------------------+----------+--------+------+-------+------------------+--------+------+-----------+-----------+--------------+-------------------+------------------+----------+-----------+-----------+-----------+-----------+--------------+-------------------+------------------+----------+-----------+-----------+--------------------+
|Index|      Nome|Formato|Pokemon|Gênero|  PC| PS|Atq IV|Def IV|PS IV|IV Médio|Nível Min|Nível Max|    Movimento rápido|Movimento de carga|Movimento de carga 2|Data de digitalização| Data Pego|    Peso|Altura|Sortudo|Sombras/Purificado|Favorito|Poeira|Class % (G)|Class # (G)|Prod Estat (G)|Custo de Poeira (G)|Custo de Doces (G)|  Nome (G)|Formato (G)|Som/Pur (G)|Class % (U)|Class # (U)|Prod Estat (U)|Custo de Poeira (U)|Custo de Doces (U)|  Nome (U)|Formato (U)|Som/Pur (U)|Marcado para uso PvP|
+-----+----------+-------+-------+------+----+---+------+------+-----+--------+---------+---------+--------------------+------------------+--------------------+---------------------+----------+--------+------+-------+------------------+--------+------+-----------+-----------+--------------+-------------------+------------------+----------+-----------+-----------+-----------+-----------+--------------+-------------------+------------------+----------+-----------+-----------+--------------------+
|    1| Salamence|   null|    373|     ♀|3100|165|    15|    15|   14|    97.8|     29.0|     29.0|     Cauda do Dragão| Meteoro do Dragão|                null|     2021-11-20 17:16| 10/6/2020|114.55kg| 1.51m|      0|                 0|       0|  5000|       null|       null|          null|               null|              null|      null|       null|       null|       null|       null|          null|               null|              null|      null|       null|       null|                null|
|    2|Karrablast|   null|    588|     ♂| 841|103|    14|     8|   15|    82.2|     26.0|     26.0|   Cortador de Fúria|              null|                null|     2021-11-20 17:15|      null|  4.71kg| 0.45m|      0|                 0|       0|  4000|     93.26%|        277|        92.52%|             436000|               214|Karrablast|       null|          0|     29.60%|       2884|        95.32%|              52000|               246|Escavalier|       null|          0|                null|
|    3|   Buneary|   null|    427|     ♀| 773|104|  null|  null| null|    57.8|     24.0|     24.0|             Pancada|              null|                null|     2021-11-20 16:58|      null|  6.48kg| 0.45m|      0|                 0|       0|  3500|     79.76%|        499|        96.62%|              27500|                74|   Lopunny|     Normal|          0|     64.36%|       1240|        90.46%|             451000|               276|   Lopunny|     Normal|          0|                null|
|    4|   Glameow|   null|    431|     ♀| 145| 48|  null|  null| null|    80.5|      6.0|      6.0|            Arranhão|              null|                null|     2021-11-20 16:57|      null|  2.74kg| 0.48m|      0|                 0|       0|   600|     38.71%|       1280|        95.94%|              92900|               142|   Purugly|       null|          0|     93.70%|         93|        96.26%|             516400|               344|   Purugly|       null|          0|                null|
|    5|   Blissey|   null|    242|     ♀|1881|334|    12|    15|   10|    82.2|     24.5|     24.5|        Cabeçada Zen|          Psíquico|                null|     2021-11-20 16:56|      null| 34.13kg| 1.26m|      0|                 0|       0|  3500|       null|       null|          null|               null|              null|      null|       null|       null|     45.86%|       2218|        95.28%|             109500|               105|   Blissey|       null|          0|                null|
|    6|   Mienfoo|   null|    619|     ♂| 682| 84|     2|     0|   14|    35.6|     20.0|     20.0|             Pancada|              null|                null|     2021-11-20 16:34|20/11/2021| 22.35kg| 0.95m|      0|                 0|       0|  2500|     82.49%|        718|        96.29%|               8000|                57|  Mienshao|       null|          0|     67.99%|       1312|        96.49%|             267000|               298|  Mienshao|       null|          0|                null|
|    7|   Turtwig|   null|    387|     ♂| 773|100|     5|    12|    2|    42.2|     26.0|     26.0|           Investida|              null|                null|     2021-11-20 16:11| 6/10/2019|  9.38kg|  0.4m|      0|                 0|       0|  4000|     70.40%|       1213|        96.24%|              52000|                71|    Grotle|       null|          0|     59.61%|       1655|        96.49%|              91000|               213|  Torterra|       null|          0|                null|
|    8|   Turtwig|   null|    387|     ♂| 520| 86|    10|    14|   15|    86.7|     16.0|     16.0|           Investida| Bomba de Sementes|                null|     2021-11-20 16:11|19/11/2021|  9.14kg| 0.36m|      0|                 0|       0|  1900|     64.64%|       1449|        95.89%|              78100|                95|    Grotle|       null|          0|     78.05%|        900|        97.25%|             102600|               215|  Torterra|       null|          0|                null|
|    9|   Turtwig|   null|    387|  null| 183| 48|    10|    15|    6|    68.9|      6.0|      6.0|                null|              null|                null|     2021-11-20 16:11|20/11/2021|    null|  null|      0|                 0|       0|   600|     61.42%|       1581|        95.55%|              34200|               165|  Torterra|       null|          0|     57.70%|       1733|        96.41%|             138400|               257|  Torterra|       null|          0|                null|
|   10|   Turtwig|   null|    387|     ♂| 771|105|     4|    15|   12|    68.9|     25.0|     25.0|                null|              null|                null|     2021-11-20 16:11|20/11/2021|  8.15kg| 0.38m|      0|                 0|       0|  4000|     82.91%|        701|        96.99%|              39000|                59|    Grotle|       null|          0|     92.01%|        328|        98.08%|              78000|               195|  Torterra|       null|          0|                null|
|   11|  Chimchar|   null|    390|     ♂| 311| 64|    12|    11|   13|    80.0|     12.0|     12.0|            Arranhão|      Roda de Fogo|                null|     2021-11-20 16:10|18/11/2021|  7.72kg| 0.58m|      0|                 0|       0|  1300|     73.99%|       1066|        95.88%|              30400|               157| Infernape|       null|          0|     57.26%|       1751|        96.17%|             199400|               327| Infernape|       null|          0|                null|
|   12|  Chimchar|   null|    390|     ♂| 284| 62|    10|    12|   15|    82.2|     11.0|     11.0|               Brasa|      Lança-chamas|                null|     2021-11-20 16:10|20/11/2021| 11.25kg| 0.66m|      0|                 0|       0|  1300|     83.71%|        668|        96.47%|              33000|               161| Infernape|       null|          0|     82.05%|        736|        97.21%|             202000|               331| Infernape|       null|          0|                null|
|   13|  Chimchar|   null|    390|     ♂| 643| 95|     0|     5|    6|    24.4|     29.0|     29.0|            Arranhão|      Lança-chamas|                null|     2021-11-20 16:09|18/11/2021|  5.91kg| 0.48m|      0|                 0|       0|  5000|     82.83%|        704|        96.63%|             380000|               215|  Monferno|       null|          0|     67.08%|       1349|        96.54%|             236000|               315| Infernape|       null|          0|                null|
|   14| Infernape|   null|    392|     ♂|1115|102|  null|  null| null|    80.0|     15.0|     15.0|Esmagamento de Pe...|     Corpo-a-corpo|                null|     2021-11-20 16:08|      null| 47.38kg| 1.07m|      0|                 0|       0|  1900|     61.49%|        668|        96.47%|              21400|                20| Infernape|       null|          0|     54.73%|        736|        97.21%|             190400|               190| Infernape|       null|          0|                null|
|   15|  Monferno|   null|    391|     ♂| 647| 91|    10|    12|   15|    82.2|     15.0|     15.0|Esmagamento de Pe...|              null|                null|     2021-11-20 16:07|15/11/2021| 18.95kg|  0.8m|      0|                 0|       0|  1900|     83.71%|        668|        96.47%|              21400|               120| Infernape|       null|          0|     82.05%|        736|        97.21%|             190400|               290| Infernape|       null|          0|                null|
|   16| Infernape|   null|    392|     ♂|2272|144|    15|    11|   15|    91.1|     30.0|     30.0|Esmagamento de Pe...|      Lança-chamas|                null|     2021-11-20 16:06|28/10/2018| 42.15kg| 1.06m|      0|                 0|       0|  5000|       null|       null|          null|               null|              null|      null|       null|       null|     51.70%|       1979|        95.95%|              78000|                84| Infernape|       null|          0|                null|
|   17|  Chimchar|   null|    390|     ♂| 511| 82|  null|  null| null|    36.2|     22.0|     22.0|               Brasa|              null|                null|     2021-11-20 16:06|      null|  4.69kg| 0.43m|      0|                 0|       0|  3000|     50.69%|        299|        97.51%|             365000|               263|  Monferno|       null|          0|     49.01%|        575|        97.48%|             256000|               363| Infernape|       null|          0|                null|
|   18|  Monferno|   null|    391|     ♂|1102|117|  null|  null| null|    49.6|     27.0|     27.0|Esmagamento de Pe...|              null|                null|     2021-11-20 16:06|      null| 26.04kg| 0.86m|      0|                 0|       0|  4500|     37.75%|        734|        96.56%|             254000|               206|  Monferno|       null|          0|     45.38%|        501|        97.59%|             178000|               306| Infernape|       null|          0|                null|
|   19|  Chimchar|   null|    390|     ♂| 446| 77|    12|    13|   13|    84.4|     17.0|     17.0|            Arranhão|      Lança-chamas|                null|     2021-11-20 16:06|      null|   5.5kg| 0.45m|      0|                 0|       0|  2200|     90.96%|        371|        97.07%|              13800|               137| Infernape|       null|          0|     52.58%|       1943|        96.00%|             174800|               297| Infernape|       null|          0|                null|
|   20|  Chimecho|   null|    358|     ♂| 942|101|    11|    13|   15|    86.7|     15.0|     15.0|             Abismar|   Choque Psíquico|                null|     2021-11-20 16:06|16/11/2021|  0.92kg| 0.61m|      0|                 0|       0|  1900|     42.44%|       2358|        94.42%|              41900|                39|  Chimecho|       null|          0|     99.54%|         20|        98.92%|             496400|               268|  Chimecho|       null|          0|                null|
+-----+----------+-------+-------+------+----+---+------+------+-----+--------+---------+---------+--------------------+------------------+--------------------+---------------------+----------+--------+------+-------+------------------+--------+------+-----------+-----------+--------------+-------------------+------------------+----------+-----------+-----------+-----------+-----------+--------------+-------------------+------------------+----------+-----------+-----------+--------------------+
only showing top 20 rows

In [6]:
car_models_df.printSchema()

root
 |-- id_carro: string (nullable = true)
 |-- modelo_carro: string (nullable = true)
 |-- preco: string (nullable = true)
 |-- cod_marca: string (nullable = true)

In [7]:
car_models_df.columns

['id_carro', 'modelo_carro', 'preco', 'cod_marca']

In [8]:
car_models_df.describe()

DataFrame[summary: string, id_carro: string, modelo_carro: string, preco: string, cod_marca: string]

In [9]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType, FloatType)

In [10]:
data_schema = [StructField('id_carro', IntegerType(), True),
               StructField('modelo_carro', StringType(), True),
               StructField('preco', FloatType(), True),
               StructField('cod_marca', IntegerType(), True)]

In [11]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.csv(car_models_path, schema=final_struc)

In [13]:
df.printSchema()

root
 |-- id_carro: integer (nullable = true)
 |-- modelo_carro: string (nullable = true)
 |-- preco: float (nullable = true)
 |-- cod_marca: integer (nullable = true)

In [14]:
type(car_models_df.select('cod_marca'))

pyspark.sql.dataframe.DataFrame

In [15]:
type(car_models_df.cod_marca)

pyspark.sql.column.Column

In [16]:
type(car_models_df.head(2)[0])

pyspark.sql.types.Row

In [17]:
car_models_df.select(['preco', 'cod_marca']).show()

+--------+---------+
|   preco|cod_marca|
+--------+---------+
|78401.95|       54|
|95987.38|        1|
|61274.55|       55|
|84981.12|       23|
|77466.89|       17|
|84698.71|       17|
|95567.75|       42|
|84749.22|       20|
|98600.79|       29|
|94791.61|        2|
|97874.76|       56|
|71638.24|       10|
|95850.12|       52|
|86707.30|        2|
|70453.70|        6|
|46752.60|       30|
|78048.08|       55|
|65193.95|       23|
|65396.98|       56|
|68994.97|       18|
+--------+---------+
only showing top 20 rows

In [18]:
car_models_df.withColumn('double_preco', car_models_df['preco']*2).show()

+--------+-------------+--------+---------+------------+
|id_carro| modelo_carro|   preco|cod_marca|double_preco|
+--------+-------------+--------+---------+------------+
|       1|       Avalon|78401.95|       54|    156803.9|
|       2|          RDX|95987.38|        1|   191974.76|
|       3|         Golf|61274.55|       55|    122549.1|
|       4|           EX|84981.12|       23|   169962.24|
|       5|       Escort|77466.89|       17|   154933.78|
|       6|   Expedition|84698.71|       17|   169397.42|
|       7|      Voyager|95567.75|       42|    191135.5|
|       8|        Civic|84749.22|       20|   169498.44|
|       9|     Defender|98600.79|       29|   197201.58|
|      10| V8 Vantage S|94791.61|        2|   189583.22|
|      11|          C70|97874.76|       56|   195749.52|
|      12|G-Series 1500|71638.24|       10|   143276.48|
|      13|       Legacy|95850.12|       52|   191700.24|
|      14|          DB9|86707.30|        2|    173414.6|
|      15|     Mulsanne|70453.70|        6|    140907.4|
|      16|           RX|46752.60|       30|     93505.2|
|      17|       Rabbit|78048.08|       55|   156096.16|
|      18|            Q|65193.95|       23|    130387.9|
|      19|          S60|65396.98|       56|   130793.96|
|      20|        Envoy|68994.97|       18|   137989.94|
+--------+-------------+--------+---------+------------+
only showing top 20 rows

In [19]:
car_models_df.show()

+--------+-------------+--------+---------+
|id_carro| modelo_carro|   preco|cod_marca|
+--------+-------------+--------+---------+
|       1|       Avalon|78401.95|       54|
|       2|          RDX|95987.38|        1|
|       3|         Golf|61274.55|       55|
|       4|           EX|84981.12|       23|
|       5|       Escort|77466.89|       17|
|       6|   Expedition|84698.71|       17|
|       7|      Voyager|95567.75|       42|
|       8|        Civic|84749.22|       20|
|       9|     Defender|98600.79|       29|
|      10| V8 Vantage S|94791.61|        2|
|      11|          C70|97874.76|       56|
|      12|G-Series 1500|71638.24|       10|
|      13|       Legacy|95850.12|       52|
|      14|          DB9|86707.30|        2|
|      15|     Mulsanne|70453.70|        6|
|      16|           RX|46752.60|       30|
|      17|       Rabbit|78048.08|       55|
|      18|            Q|65193.95|       23|
|      19|          S60|65396.98|       56|
|      20|        Envoy|68994.97|       18|
+--------+-------------+--------+---------+
only showing top 20 rows

In [20]:
car_models_df.withColumnRenamed('preco', 'my_new_preco').show()

+--------+-------------+------------+---------+
|id_carro| modelo_carro|my_new_preco|cod_marca|
+--------+-------------+------------+---------+
|       1|       Avalon|    78401.95|       54|
|       2|          RDX|    95987.38|        1|
|       3|         Golf|    61274.55|       55|
|       4|           EX|    84981.12|       23|
|       5|       Escort|    77466.89|       17|
|       6|   Expedition|    84698.71|       17|
|       7|      Voyager|    95567.75|       42|
|       8|        Civic|    84749.22|       20|
|       9|     Defender|    98600.79|       29|
|      10| V8 Vantage S|    94791.61|        2|
|      11|          C70|    97874.76|       56|
|      12|G-Series 1500|    71638.24|       10|
|      13|       Legacy|    95850.12|       52|
|      14|          DB9|    86707.30|        2|
|      15|     Mulsanne|    70453.70|        6|
|      16|           RX|    46752.60|       30|
|      17|       Rabbit|    78048.08|       55|
|      18|            Q|    65193.95|       23|
|      19|          S60|    65396.98|       56|
|      20|        Envoy|    68994.97|       18|
+--------+-------------+------------+---------+
only showing top 20 rows

In [21]:
car_models_df.createOrReplaceTempView('car')

In [22]:
results = spark.sql("SELECT * FROM car")

In [23]:
results.show()

+--------+-------------+--------+---------+
|id_carro| modelo_carro|   preco|cod_marca|
+--------+-------------+--------+---------+
|       1|       Avalon|78401.95|       54|
|       2|          RDX|95987.38|        1|
|       3|         Golf|61274.55|       55|
|       4|           EX|84981.12|       23|
|       5|       Escort|77466.89|       17|
|       6|   Expedition|84698.71|       17|
|       7|      Voyager|95567.75|       42|
|       8|        Civic|84749.22|       20|
|       9|     Defender|98600.79|       29|
|      10| V8 Vantage S|94791.61|        2|
|      11|          C70|97874.76|       56|
|      12|G-Series 1500|71638.24|       10|
|      13|       Legacy|95850.12|       52|
|      14|          DB9|86707.30|        2|
|      15|     Mulsanne|70453.70|        6|
|      16|           RX|46752.60|       30|
|      17|       Rabbit|78048.08|       55|
|      18|            Q|65193.95|       23|
|      19|          S60|65396.98|       56|
|      20|        Envoy|68994.97|       18|
+--------+-------------+--------+---------+
only showing top 20 rows

In [24]:
new_results = spark.sql("SELECT * FROM car WHERE cod_marca=15")

In [25]:
new_results.show()

+--------+------------+--------+---------+
|id_carro|modelo_carro|   preco|cod_marca|
+--------+------------+--------+---------+
|     319|      Vision|80349.11|       15|
+--------+------------+--------+---------+