In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'datasets\reclame_aqui_completo_ambev.csv', 
                 names=['NA', 'location', 'date', 'title', 'coment', 'answer', 'time_answer', 
                        'coment_client_text', 'time_client', 'resolved', 'business', 'assessment'], 
                 index_col=False) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NA                  1010 non-null   int64
 1   location            1010 non-null   object
 2   date                1010 non-null   object
 3   title               1010 non-null   object
 4   coment              1010 non-null   object
 5   answer              1001 non-null   object
 6   time_answer         1001 non-null   object
 7   coment_client_text  1010 non-null   object
 8   time_client         1010 non-null   object
 9   resolved            1010 non-null   object
 10  business            1010 non-null   object
 11  assessment          1010 non-null   int64
dtypes: int64(2), object(10)
memory usage: 94.8+ KB

In [3]:
df.head()

,NA,location,date,title,coment,answer,time_answer,coment_client_text,time_client,resolved,business,assessment
0,0,Maceió - AL,27/07/21 às 00h45,Quero fazer acordo,Fiz uma compra em seguida acabei fechando e nã...,"Olá Alame,\n\nEnviamos as orientações de seu c...",29/07/21 às 13h06,Muito satisfatório,29/07/21 às 13h21,Resolvido,Sim,8
1,1,São Paulo - SP,26/07/21 às 16h52,Estou sendo perseguido pela logística do cdd d...,Ha oito meses estou sendo perseguido pela logí...,"Olá Alexandre,\n\nInformamos que encaminhamos ...",27/07/21 às 11h27,Pessimo,27/07/21 às 11h30,Não resolvido,Não,0
2,2,Armação de Búzios - RJ,26/07/21 às 16h27,Código cliente,"Realizei o cadastro no app e já faz dias, não ...","Olá Adriana,\n\nConforme conversamos, o sistem...",28/07/21 às 13h28,Fui muito bem atendida e orientada. O represen...,28/07/21 às 17h39,Resolvido,Sim,10
3,3,Cotia - SP,26/07/21 às 15h15,Não aumentam prazo do boleto,"Deixo aqui, minha grande insatisfação com AMBE...","Olá Tadeu,\n\nInformamos que encaminhamos seu ...",27/07/21 às 11h04,"Vocês não trabalham com verdade, meu score no ...",27/07/21 às 15h59,Não resolvido,Não,0
4,4,CAMBORIU - SC,24/07/21 às 23h01,Equipamento,Aguardando equipamento para meu comercio desde...,"Olá, William.\n\nInformamos que sua solicitaçã...",26/07/21 às 12h13,9,27/07/21 às 23h45,Não resolvido,Não,0

In [4]:
df['NA'].unique()

array([   0,    1,    2, ..., 1007, 1008, 1009], dtype=int64)

In [5]:
df.drop('NA', axis=1, inplace=True)

In [6]:
df.head()

,location,date,title,coment,answer,time_answer,coment_client_text,time_client,resolved,business,assessment
0,Maceió - AL,27/07/21 às 00h45,Quero fazer acordo,Fiz uma compra em seguida acabei fechando e nã...,"Olá Alame,\n\nEnviamos as orientações de seu c...",29/07/21 às 13h06,Muito satisfatório,29/07/21 às 13h21,Resolvido,Sim,8
1,São Paulo - SP,26/07/21 às 16h52,Estou sendo perseguido pela logística do cdd d...,Ha oito meses estou sendo perseguido pela logí...,"Olá Alexandre,\n\nInformamos que encaminhamos ...",27/07/21 às 11h27,Pessimo,27/07/21 às 11h30,Não resolvido,Não,0
2,Armação de Búzios - RJ,26/07/21 às 16h27,Código cliente,"Realizei o cadastro no app e já faz dias, não ...","Olá Adriana,\n\nConforme conversamos, o sistem...",28/07/21 às 13h28,Fui muito bem atendida e orientada. O represen...,28/07/21 às 17h39,Resolvido,Sim,10
3,Cotia - SP,26/07/21 às 15h15,Não aumentam prazo do boleto,"Deixo aqui, minha grande insatisfação com AMBE...","Olá Tadeu,\n\nInformamos que encaminhamos seu ...",27/07/21 às 11h04,"Vocês não trabalham com verdade, meu score no ...",27/07/21 às 15h59,Não resolvido,Não,0
4,CAMBORIU - SC,24/07/21 às 23h01,Equipamento,Aguardando equipamento para meu comercio desde...,"Olá, William.\n\nInformamos que sua solicitaçã...",26/07/21 às 12h13,9,27/07/21 às 23h45,Não resolvido,Não,0

### Treatment

##### Date fields to datetime

In [7]:
df['date'] = df['date'].apply(lambda x: x.replace('/', '-').replace('às ', '').replace('h', ':'))
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [8]:
df['time_answer'] = df['time_answer'].apply(lambda x: x.replace('/', '-').replace('às ', '').replace('h', ':') if type(x) != float else x)
df['time_answer'] = pd.to_datetime(df['time_answer'], dayfirst=True)

In [9]:
df['time_client'] = df['time_client'].apply(lambda x: x.replace('/', '-').replace('às ', '').replace('h', ':'))  
df['time_client'] = pd.to_datetime(df['time_client'], dayfirst=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            1010 non-null   object
 1   date                1010 non-null   datetime64[ns]
 2   title               1010 non-null   object
 3   coment              1010 non-null   object
 4   answer              1001 non-null   object
 5   time_answer         1001 non-null   datetime64[ns]
 6   coment_client_text  1010 non-null   object
 7   time_client         1010 non-null   datetime64[ns]
 8   resolved            1010 non-null   object
 9   business            1010 non-null   object
 10  assessment          1010 non-null   int64
dtypes: datetime64[ns](3), int64(1), object(7)
memory usage: 86.9+ KB

###### Line breaks in comments

In [11]:
df['answer'] = df['answer'].apply(lambda x: x.replace('\n', '') if type(x) != float else x)

In [12]:
df['answer'].head()

0    Olá Alame,Enviamos as orientações de seu caso ...
1    Olá Alexandre,Informamos que encaminhamos o se...
2    Olá Adriana,Conforme conversamos, o sistema nã...
3    Olá Tadeu,Informamos que encaminhamos seu caso...
4    Olá, William.Informamos que sua solicitação fo...
Name: answer, dtype: object

In [13]:
df['coment'] = df['coment'].apply(lambda x: x.replace('\n', '') if type(x) != float else x)

In [14]:
df['coment'].head()

0    Fiz uma compra em seguida acabei fechando e nã...
1    Ha oito meses estou sendo perseguido pela logí...
2    Realizei o cadastro no app e já faz dias, não ...
3    Deixo aqui, minha grande insatisfação com AMBE...
4    Aguardando equipamento para meu comercio desde...
Name: coment, dtype: object

In [15]:
df['coment_client_text'] = df['coment_client_text'].apply(lambda x: x.replace('\n', '') if type(x) != float else x)

In [16]:
df['coment_client_text'].head()

0                                   Muito satisfatório
1                                              Pessimo
2    Fui muito bem atendida e orientada. O represen...
3    Vocês não trabalham com verdade, meu score no ...
4                                                    9
Name: coment_client_text, dtype: object

In [17]:
df[['city', 'uf']] = df['location'].str.split(' - ', expand=True)
df.drop(columns=['location'], inplace=True)
df.head(1)

,date,title,coment,answer,time_answer,coment_client_text,time_client,resolved,business,assessment,city,uf
0,2021-07-27 00:45:00,Quero fazer acordo,Fiz uma compra em seguida acabei fechando e nã...,"Olá Alame,Enviamos as orientações de seu caso ...",2021-07-29 13:06:00,Muito satisfatório,2021-07-29 13:21:00,Resolvido,Sim,8,Maceió,AL

In [18]:
new_columns = ['date', 'uf', 'city', 'title', 'coment', 'answer', 'time_answer', 
               'coment_client_text', 'time_client', 'resolved', 'business', 'assessment']

df = df.reindex(columns=new_columns)

In [19]:
df.head()

,date,uf,city,title,coment,answer,time_answer,coment_client_text,time_client,resolved,business,assessment
0,2021-07-27 00:45:00,AL,Maceió,Quero fazer acordo,Fiz uma compra em seguida acabei fechando e nã...,"Olá Alame,Enviamos as orientações de seu caso ...",2021-07-29 13:06:00,Muito satisfatório,2021-07-29 13:21:00,Resolvido,Sim,8
1,2021-07-26 16:52:00,SP,São Paulo,Estou sendo perseguido pela logística do cdd d...,Ha oito meses estou sendo perseguido pela logí...,"Olá Alexandre,Informamos que encaminhamos o se...",2021-07-27 11:27:00,Pessimo,2021-07-27 11:30:00,Não resolvido,Não,0
2,2021-07-26 16:27:00,RJ,Armação de Búzios,Código cliente,"Realizei o cadastro no app e já faz dias, não ...","Olá Adriana,Conforme conversamos, o sistema nã...",2021-07-28 13:28:00,Fui muito bem atendida e orientada. O represen...,2021-07-28 17:39:00,Resolvido,Sim,10
3,2021-07-26 15:15:00,SP,Cotia,Não aumentam prazo do boleto,"Deixo aqui, minha grande insatisfação com AMBE...","Olá Tadeu,Informamos que encaminhamos seu caso...",2021-07-27 11:04:00,"Vocês não trabalham com verdade, meu score no ...",2021-07-27 15:59:00,Não resolvido,Não,0
4,2021-07-24 23:01:00,SC,CAMBORIU,Equipamento,Aguardando equipamento para meu comercio desde...,"Olá, William.Informamos que sua solicitação fo...",2021-07-26 12:13:00,9,2021-07-27 23:45:00,Não resolvido,Não,0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1010 non-null   datetime64[ns]
 1   uf                  1010 non-null   object
 2   city                1010 non-null   object
 3   title               1010 non-null   object
 4   coment              1010 non-null   object
 5   answer              1001 non-null   object
 6   time_answer         1001 non-null   datetime64[ns]
 7   coment_client_text  1010 non-null   object
 8   time_client         1010 non-null   datetime64[ns]
 9   resolved            1010 non-null   object
 10  business            1010 non-null   object
 11  assessment          1010 non-null   int64
dtypes: datetime64[ns](3), int64(1), object(8)
memory usage: 94.8+ KB

In [21]:
df.to_csv(r'datasets\reclame_aqui_completo_ambev_v2.csv', index=False)