# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [3]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

In [4]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1.drop(['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

### Step 5. What is the number of observations in each dataset?

In [6]:
cars1.shape

(198, 9)

In [22]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [23]:
cars1.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [24]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

In [25]:
cars = pd.merge(cars1, cars2, how = 'outer')

In [29]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [27]:
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [34]:
from numpy.random import randint

In [35]:
owners = randint(15000, 73000, cars.shape[0])
owners

array([49146, 32282, 34006, 39300, 72445, 50345, 58161, 16022, 44088,
       72226, 59538, 65659, 68164, 26694, 42168, 30656, 63447, 52321,
       59100, 68305, 36956, 69255, 39507, 55371, 40395, 70243, 15753,
       43854, 68501, 55225, 72042, 63334, 22091, 42409, 16563, 66165,
       19483, 44103, 32198, 47365, 50725, 59424, 22776, 39484, 62806,
       25567, 54506, 55097, 54712, 63123, 62056, 48648, 71146, 43245,
       17424, 26580, 24657, 46275, 55502, 30184, 49565, 61346, 39190,
       65640, 23292, 47399, 66821, 39090, 22244, 23641, 32436, 60562,
       72394, 37770, 64925, 25218, 57571, 60353, 38784, 25764, 24400,
       15519, 20297, 43012, 36844, 50563, 30019, 43823, 51733, 51966,
       43609, 25924, 49865, 31753, 55341, 38395, 16774, 34677, 35512,
       69623, 27487, 65171, 33643, 22751, 26201, 31204, 41387, 33961,
       53258, 27757, 68641, 33185, 52193, 18258, 45345, 32397, 23223,
       38788, 36015, 16247, 66484, 69637, 27799, 34013, 65385, 60796,
       46763, 71078, 53660, 46047, 39524, 28595, 30611, 48227, 32209,
       54487, 72334, 72082, 53284, 52704, 27140, 50436, 58340, 44467,
       59316, 26763, 35140, 22184, 48828, 40100, 29656, 65136, 31813,
       32885, 38164, 31602, 20503, 38763, 32920, 59699, 60877, 19561,
       33589, 16578, 26558, 67781, 18749, 56888, 54772, 19084, 65594,
       48150, 28693, 20363, 47130, 33856, 55342, 58195, 37563, 64700,
       44236, 72560, 35518, 53426, 66648, 72838, 33494, 71272, 70651,
       43633, 50129, 19264, 69957, 24076, 19454, 65249, 64680, 21076,
       65977, 58257, 52328, 60997, 19496, 51469, 56036, 39294, 55003,
       48228, 50183, 41452, 36835, 46294, 55890, 24933, 19318, 69934,
       45687, 45842, 37976, 55116, 25496, 46929, 42479, 56858, 72448,
       28195, 45222, 68477, 71941, 38509, 32711, 65477, 16813, 49467,
       52826, 52707, 36388, 56962, 36605, 45199, 72201, 56835, 29300,
       69939, 53554, 17018, 40111, 17790, 31033, 47325, 45141, 15522,
       62730, 48869, 61308, 68559, 63084, 70775, 65208, 38818, 67057,
       55511, 26668, 50798, 53789, 41038, 71140, 56708, 18678, 68915,
       28718, 65894, 15690, 57611, 72097, 51032, 27926, 62005, 72714,
       62122, 36680, 51626, 62941, 45327, 71115, 34491, 22673, 72736,
       25263, 51436, 28699, 43899, 15059, 57109, 28833, 55968, 40873,
       72064, 32885, 22497, 56238, 28100, 64902, 21731, 66923, 23060,
       53118, 68354, 39515, 53741, 71983, 55574, 69159, 63720, 48377,
       54551, 37249, 38746, 57160, 64142, 56073, 63107, 58485, 19223,
       39151, 42835, 29919, 53753, 70082, 32585, 71239, 60891, 68938,
       39331, 56496, 61345, 60125, 33292, 30509, 29943, 35143, 57735,
       17457, 47341, 58461, 47968, 65876, 64297, 36418, 68702, 19365,
       45223, 35390, 25329, 61305, 36227, 71382, 16139, 62464, 55602,
       32071, 18415, 35444, 67997, 36400, 49314, 43312, 50181, 51495,
       35175, 44719, 61875, 68327, 40908, 54588, 65644, 51086, 58938,
       24362, 71069, 18147, 21930, 18024, 27478, 37301, 38366, 35558,
       55294, 34606, 25212, 21032, 42628, 38705, 67733, 66185, 59167,
       18947, 26103])

### Step 8. Add the column owners to cars

In [36]:
cars['owners'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,49146
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,32282
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,34006
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,39300
4,17.0,8,302,140,3449,10.5,70,1,ford torino,72445