# Tratamento de dados sobre o Titanic

In [1]:
titanic_csv = open('../csv/titanic.csv','r') # abre o arquivo csv

In [2]:
linhas = titanic_csv.readlines() # le o arquivo csv e retorna uma lista de linhas

In [3]:
# linhas # View dataset

In [4]:
print(linhas[0]) #imprime o index 0 'Cabeçalho'
print(linhas[1]) #imprime o index 1 'Dados'
print(linhas[23]) #imprime o index 23 'Dados'

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked

1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S

23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q

In [5]:
titanic_csv.close() # fecha o arquivo da memoria

In [6]:
type(linhas[0]) # verificar o tipo de dado

str

# colunas = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked\n']
# linhas = todas as linhas do Dataset

In [7]:
colunas = linhas[0].split(',') # separa em indexes o 'Cabeçalho'

In [8]:
dado1 = linhas[1].split(',') # separa em indexes o 'Dado' index 1

In [9]:
print(colunas)
print(dado1)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked\n']
['1', '0', '3', '"Braund', ' Mr. Owen Harris"', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S\n']

In [10]:
print(len(colunas), len(dado1)) # verificando a consistencia dos dados

12 13

In [11]:
print(colunas[3], dado1[3]) # Nome imcompleto
print(colunas[4], dado1[4]) # dado incoerente

Name "Braund
Sex  Mr. Owen Harris"

# Função de Expressão regular para retirar virgula
# e inverter 'sobrenome nome' para 'nome sobrenome'

# Uso do site https://www.regexpal.com/ para tratar o nome

In [12]:
import re # Lib Regular Expression

match = re.compile(r'"(.*)(,)(\s.*)"') # compilando toda a string que contem ' " , e espaços '
match.sub(r'"\3 \1"', linhas[1]) # ordenando os blocos da string obtida para 'nome sobrenome'

'1,0,3," Mr. Owen Harris Braund",male,22,1,0,A/5 21171,7.25,,S\n'

In [13]:
# criando uma funcao que remove a virgula dos nomes e troca a ordem
def tratar_nome(linha):
    import re
    match = re.compile(r'"(.*)(,)(\s.*)"')
    return match.sub(r'"\3 \1"', linha)

In [14]:
# testando a funcao na linha 1
tratar_nome(linhas[1])

'1,0,3," Mr. Owen Harris Braund",male,22,1,0,A/5 21171,7.25,,S\n'

In [15]:
linha1_tratada = tratar_nome(linhas[1])
type(linha1_tratada) # verificando tipo para usar split

str

In [16]:
linha1_separada = linha1_tratada.split(",") # separando a str em lista pela virgula

In [17]:
print(colunas) # colunas
print(linha1_tratada) # str
print(linha1_separada) # lista
print(len(colunas), len(linha1_separada)) # contagem de indexes

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked\n']
1,0,3," Mr. Owen Harris Braund",male,22,1,0,A/5 21171,7.25,,S

['1', '0', '3', '" Mr. Owen Harris Braund"', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S\n']
12 12

# Juntar os dados com suas devidas colunas

In [18]:
# criuando dicionario, sendo as colunas-chave e os valores-dados
titanic_dados = {}
for coluna in colunas:
    titanic_dados[coluna] = []
titanic_dados

{'PassengerId': [],
 'Survived': [],
 'Pclass': [],
 'Name': [],
 'Sex': [],
 'Age': [],
 'SibSp': [],
 'Parch': [],
 'Ticket': [],
 'Fare': [],
 'Cabin': [],
 'Embarked\n': []}

In [19]:
# retornando todas as linhas, excluindo linha 0 que é o cabeçalho
# View dataset em linhas str

# for dado in linhas[1:]:
#     dado_tratado = tratar_nome(dado)
#     print(dado_tratado)

In [20]:
# type(dado_tratado)

In [21]:
# retornando as linhas em formato de listas separadas pela virgula
# View dataset em linhas de listas

# for dado in linhas[1:]:
#     dado_tratado = tratar_nome(dado)
#     dado_como_lista = dado_tratado.split(",")
#     print(dado_como_lista)

In [22]:
# Aqui retornamos o mesmo passo porem em uma lista aninhada

dados_tratados = []

for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(",")
    dados_tratados.append(dado_como_lista)

In [23]:
print(dados_tratados[0])
print(dados_tratados[13])
print(dados_tratados[800])

['1', '0', '3', '" Mr. Owen Harris Braund"', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S\n']
['14', '0', '3', '" Mr. Anders Johan Andersson"', 'male', '39', '1', '5', '347082', '31.275', '', 'S\n']
['801', '0', '2', '" Mr. Martin Ponesell"', 'male', '34', '0', '0', '250647', '13', '', 'S\n']

In [24]:
# Relacionando dados das listas

# Sobrevivente 0 = Não, 1 = Sim
# Nome = Nome Sobrenome

print(colunas[1], dados_tratados[13][1])
print(colunas[3], dados_tratados[13][3])

Survived 0
Name " Mr. Anders Johan Andersson"

In [25]:
# View dataset com ordenação dos dados em ' Nome: "" Age: "" '

# for passageiro in dados_tratados:
#     print(colunas[3], passageiro[3], colunas[5], passageiro[5])

# linhas = todo o arquivo, sem tratamento
# dados_tratados = todas as linhas tratadas, sem o cabeçalho
# colunas = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age'...]
# dados = ['45', '1', '3', '" Miss. Margaret Delia Devaney"', 'female', '19'...]
# titanic_dados = O dicionario com as chaves(colunas) sem os valores

In [26]:
print(titanic_dados)

{'PassengerId': [], 'Survived': [], 'Pclass': [], 'Name': [], 'Sex': [], 'Age': [], 'SibSp': [], 'Parch': [], 'Ticket': [], 'Fare': [], 'Cabin': [], 'Embarked\n': []}

In [27]:
# 1 - Pegar cada linha da variavel dados_tratados e colocar em passageiros
# 2 - Faço um FOR em passageiro e pegp o index e o restante dos dados
# 3 - Vou na variavel coluna e pego a colina no respectivo index

for passageiro in dados_tratados:
    for index, dado in enumerate(passageiro):
        coluna = colunas[index]
        titanic_dados[coluna].append(dado)

In [28]:
# titanic_dados # View dataset com lista aninhada

In [29]:
print("Passageiro:", titanic_dados["PassengerId"][13])
print("Nome:", titanic_dados["Name"][13])
print("Idade:", titanic_dados["Age"][13])

Passageiro: 14
Nome: " Mr. Anders Johan Andersson"
Idade: 39

In [30]:
# titanic_dados["Age"] # View lista de Idades

# Criando MEDIAS para valores do dataset

In [31]:
# Tratando idades nulas para valor (-1) e alterando tipo str para float

for index, age in enumerate(titanic_dados["Age"]):
    if titanic_dados["Age"][index] != '':
        titanic_dados["Age"][index] = float(age)
    else:
        titanic_dados["Age"][index] = -1

In [32]:
# titanic_dados["Age"] # View lista de idades tratadas

In [33]:
idades_validas = []

for idade in titanic_dados["Age"]:
    if idade != -1:
        idades_validas.append(idade)

In [34]:
# Media = soma, contagem e aredondamento de 2 casas
def media(lista):
    soma_total = sum(lista)
    quant = len(lista)
    return round(soma_total / quant, 2)

In [35]:
print("Media:", media(idades_validas))

Media: 29.7

In [36]:
media_idades = media(idades_validas)

In [37]:
# Alterando valores nulos(-1) para a media de idades
for index, age in enumerate(titanic_dados["Age"]):
    if age == -1:
        titanic_dados["Age"][index] = media_idades

In [38]:
# titanic_dados["Age"] # View idades tratadas com media em idades nulas