# Frotas de Veiculos no Brasil

## Mesclagem dos dados

In [1]:
# Importações Libs
import pandas as pd

In [2]:
# Leitura CSVs
df_frota_032020 = pd.read_csv('datasets/2020-03_frota_de_veiculos.csv', sep=';')
df_frota_042020 = pd.read_csv('datasets/2020-04_frota_de_veiculos.csv', sep=';')
df_frota_052020 = pd.read_csv('datasets/2020-05_frota_de_veiculos.csv', sep=';')
df_frota_062020 = pd.read_csv('datasets/2020-06_frota_de_veiculos.csv', sep=';')
df_frota_072020 = pd.read_csv('datasets/2020-07_frota_de_veiculos.csv', sep=';')
df_frota_082020 = pd.read_csv('datasets/2020-08_frota_de_veiculos.csv', sep=';')
df_frota_092020 = pd.read_csv('datasets/2020-09_frota_de_veiculos.csv', sep=';')
df_frota_102020 = pd.read_csv('datasets/2020-10_frota_de_veiculos.csv', sep=';')
df_frota_112020 = pd.read_csv('datasets/2020-11_frota_de_veiculos.csv', sep=';')

In [3]:
df_frota_032020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [4]:
df_frota_042020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   UF          117012 non-null  object
 1   MUNICIPIO   117012 non-null  object
 2   TIPO        117012 non-null  object
 3   QUANTIDADE  117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [5]:
df_frota_052020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [6]:
df_frota_062020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [7]:
df_frota_072020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [8]:
df_frota_082020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [9]:
df_frota_092020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [10]:
df_frota_102020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117012 entries, 0 to 117011
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UF               117012 non-null  object
 1   MUNICIPIO        117012 non-null  object
 2   TIPO DE VEICULO  117012 non-null  object
 3   QUANTIDADE       117012 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [11]:
df_frota_112020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UF               65535 non-null  object
 1   MUNICIPIO        65535 non-null  object
 2   TIPO DE VEÍCULO  65535 non-null  object
 3   QUANTIDADE       65535 non-null  int64
dtypes: int64(1), object(3)
memory usage: 2.0+ MB

### Tratamentos

###### Renomear colunas

In [12]:
df_frota_042020.rename(columns={'TIPO': 'TIPO DE VEICULO'}, inplace=True)
df_frota_112020.rename(columns={'TIPO DE VEÍCULO': 'TIPO DE VEICULO'}, inplace=True)

###### Criando coluna de data

In [13]:
df_frota_032020['DATE'] = pd.to_datetime('01032020', format='%d%m%Y')
df_frota_042020['DATE'] = pd.to_datetime('01042020', format='%d%m%Y')
df_frota_052020['DATE'] = pd.to_datetime('01052020', format='%d%m%Y')
df_frota_062020['DATE'] = pd.to_datetime('01062020', format='%d%m%Y')
df_frota_072020['DATE'] = pd.to_datetime('01072020', format='%d%m%Y')
df_frota_082020['DATE'] = pd.to_datetime('01082020', format='%d%m%Y')
df_frota_092020['DATE'] = pd.to_datetime('01092020', format='%d%m%Y')
df_frota_102020['DATE'] = pd.to_datetime('01102020', format='%d%m%Y')
df_frota_112020['DATE'] = pd.to_datetime('01112020', format='%d%m%Y')

### Merge Datasets

In [14]:
df_frota_0311_2020 = pd.concat([df_frota_032020, df_frota_042020, df_frota_052020, 
                                df_frota_062020, df_frota_072020, df_frota_082020, 
                                df_frota_092020, df_frota_102020, df_frota_112020])

In [15]:
df_frota_0311_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1001631 entries, 0 to 65534
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   UF               1001631 non-null  object
 1   MUNICIPIO        1001631 non-null  object
 2   TIPO DE VEICULO  1001631 non-null  object
 3   QUANTIDADE       1001631 non-null  int64
 4   DATE             1001631 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 45.9+ MB

### Save Dataset

In [16]:
df_frota_0311_2020.to_csv('datasets/2020-0311_frota_de_veiculos.csv', index=None)