# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import re as re

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [4]:
chipo['item_price'].head()

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [5]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [6]:
# total
chipo['item_price'].count()

4622

In [11]:
# total conditional
chipo_cost_more_10 = chipo[chipo['item_price'] > 10].sort_values(by='item_price', 
                                                                 ascending=False)
chipo_cost_more_10['item_price'].count()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [12]:
chipo[['item_name', 'item_price']].shape

(4622, 2)

### Step 6. Sort by the name of the item

In [14]:
chipo[['item_name', 'item_price']].sort_values(by='item_name', 
                                               ascending=True)\
                                  .head()

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49

In [ ]:
chipo[['order_id', 'item_price']].sort_values(by='item_name', 
                                               ascending=True)\
                                  .head()

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
chipo[chipo['item_price'] == chipo['item_price'].max()]['quantity']

3598    15
Name: quantity, dtype: int64

In [16]:
chipo.iloc[chipo['item_price'].nlargest(1).index, 1]

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['item_name'].count()

In [20]:
chipo.item_name.str.contains('Veggie Salad Bowl', flags=re.IGNORECASE).sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [21]:
chipo[chipo['item_name'] == 'Canned Soda']['item_name'].count()

104