# Arrecadação de Tributos Estaduais GovBR

## Mesclagem dos DataFrames

In [1]:
# imports
import pandas as pd

In [2]:
# reads CSVs
df_arr1 = pd.read_csv(r'datasets/Arrecadacao_01-01-1998_a_31-12-2001.csv')
df_arr2 = pd.read_csv(r'datasets/Arrecadacao_01-01-2002_a_31-12-2005.csv')
df_arr3 = pd.read_csv(r'datasets/Arrecadacao_01-01-2006_a_31-12-2009.csv')
df_arr4 = pd.read_csv(r'datasets/Arrecadacao_01-01-2010_a_31-12-2013.csv')
df_arr5 = pd.read_csv(r'datasets/Arrecadacao_01-01-2014_a_31-12-2017.csv')
df_arr6 = pd.read_csv(r'datasets/Arrecadacao_01-01-2018_a_09-12-2020.csv')
df_type_arr = pd.read_csv(r'datasets/TipoArrecadacao.csv')

In [3]:
# general data
df_arr1.shape, df_arr2.shape, df_arr3.shape, df_arr4.shape, df_arr5.shape, df_arr6.shape, df_type_arr.shape

((29808, 6),
 (29808, 6),
 (29187, 6),
 (29808, 6),
 (29808, 6),
 (21275, 6),
 (23, 5))

In [4]:
# check nulls

In [5]:
df_arr1.isnull().sum()

sg_uf                  0
ano_arrecadacao        0
mes_arrecadacao        0
co_tipo_arrecadacao    0
va_arrecadacao         0
DATA_BASE              0
dtype: int64

In [6]:
df_arr2.isnull().sum()

sg_uf                  0
ano_arrecadacao        0
mes_arrecadacao        0
co_tipo_arrecadacao    0
va_arrecadacao         0
DATA_BASE              0
dtype: int64

In [7]:
df_arr3.isnull().sum()

sg_uf                  0
ano_arrecadacao        0
mes_arrecadacao        0
co_tipo_arrecadacao    0
va_arrecadacao         0
DATA_BASE              0
dtype: int64

In [8]:
df_arr4.isnull().sum()

sg_uf                  0
ano_arrecadacao        0
mes_arrecadacao        0
co_tipo_arrecadacao    0
va_arrecadacao         0
DATA_BASE              0
dtype: int64

In [9]:
df_arr5.isnull().sum()

sg_uf                  0
ano_arrecadacao        0
mes_arrecadacao        0
co_tipo_arrecadacao    0
va_arrecadacao         0
DATA_BASE              0
dtype: int64

In [10]:
df_arr6.isnull().sum()

sg_uf                  0
ano_arrecadacao        0
mes_arrecadacao        0
co_tipo_arrecadacao    0
va_arrecadacao         0
DATA_BASE              0
dtype: int64

In [11]:
df_type_arr.isnull().sum()

CD_TIP_ARRECAD    0
NM_TIP_ARRECAD    0
NM_SETOR          0
NM_GRUPO_SETOR    0
TIP_TRIBUTO       0
dtype: int64

In [12]:
# merging datasets
df_all_arr = pd.concat([df_arr1, df_arr2, df_arr3, df_arr4, df_arr5, df_arr6], ignore_index=True)

In [13]:
df_all_arr.shape

(169694, 6)

In [14]:
df_type_arr.rename(columns={'CD_TIP_ARRECAD': 'co_tipo_arrecadacao'}, inplace=True)

In [15]:
df_type_arr

,co_tipo_arrecadacao,NM_TIP_ARRECAD,NM_SETOR,NM_GRUPO_SETOR,TIP_TRIBUTO
0,119,ICMS Primário,Primário,Arrecadação ICMS,ICMS
1,129,ICMS Secundário,Secundário,Arrecadação ICMS,ICMS
2,131,Comércio Atacadista,Terciário,Arrecadação ICMS,ICMS
3,132,Comércio Varejista,Terciário,Arrecadação ICMS,ICMS
4,133,Serviços de Transporte,Terciário,Arrecadação ICMS,ICMS
5,134,Serviços de Comunicação,Terciário,Arrecadação ICMS,ICMS
6,135,Outros ICMS,Terciário,Arrecadação ICMS,ICMS
7,139,ICMS Terciário,Sem Classificação,Arrecadação ICMS,ICMS
8,211,Energia Elétrica Secundária,Secundário,Arrecadação ICMS Específica,ICMS
9,212,Energia Elétrica Terciário,Terciário,Arrecadação ICMS Específica,ICMS
10,219,Total Energia Elétrica,Sem Classificação,Arrecadação ICMS,ICMS
11,221,Petróleo-Combustível-Lubrificantes Secundário,Secundário,Arrecadação ICMS Específica,ICMS
12,222,Petróleo-Combustível-Lubrificantes Terciário,Terciário,Arrecadação ICMS Específica,ICMS
13,229,Total Petróleo-Combustível-Lubrificantes,Sem Classificação,Arrecadação ICMS,ICMS
14,239,Dívida Ativa,Sem Classificação,Arrecadação ICMS Específica,ICMS
15,249,Outras Fontes de receitas,Sem Classificação,Arrecadação ICMS Específica,ICMS
16,399,ICMS,Sem Classificação,Arrecadação ICMS,ICMS
17,409,IPVA,Sem Classificação,Arrecadação de Outros Tributos,Outros Tributos
18,419,ITCD,Sem Classificação,Arrecadação de Outros Tributos,Outros Tributos
19,429,TAXAS,Sem Classificação,Arrecadação de Outros Tributos,Outros Tributos
20,439,Outros Tributos,Sem Classificação,Arrecadação de Outros Tributos,Outros Tributos
21,499,Total da Arrecadação de Outros Tributos,Sem Classificação,Arrecadação de Outros Tributos,Outros Tributos
22,999,Total Geral da Receita de Tributária,Sem Classificação,Sem Classificação,Sem Classificação

In [16]:
df_all_arr = pd.merge(df_all_arr, df_type_arr, how = 'inner', on = 'co_tipo_arrecadacao')

In [18]:
df_all_arr.head()

,sg_uf,ano_arrecadacao,mes_arrecadacao,co_tipo_arrecadacao,va_arrecadacao,DATA_BASE,NM_TIP_ARRECAD,NM_SETOR,NM_GRUPO_SETOR,TIP_TRIBUTO
0,AC,1998,1,119,97679.0,1998-01-01 00:00:00,ICMS Primário,Primário,Arrecadação ICMS,ICMS
1,AC,1998,10,119,70826.0,1998-10-01 00:00:00,ICMS Primário,Primário,Arrecadação ICMS,ICMS
2,AC,1998,11,119,57264.0,1998-11-01 00:00:00,ICMS Primário,Primário,Arrecadação ICMS,ICMS
3,AC,1998,12,119,43618.0,1998-12-01 00:00:00,ICMS Primário,Primário,Arrecadação ICMS,ICMS
4,AC,1998,2,119,114225.0,1998-02-01 00:00:00,ICMS Primário,Primário,Arrecadação ICMS,ICMS

In [19]:
# save new dataset
df_all_arr.to_csv(r'datasets/Arrecadacao_01-01-1998_a_09-12-2020.csv', index=None)