# Machine Learning with Data extracted from Pokemons

## Location of data obtained¶

- Niantic Pokemon https://www.pokemon.com/us/pokedex/
- My Scrapper https://github.com/Renanrbsc/DatabasePokemon/tree/master/backend/scrapper
- Text file https://github.com/Renanrbsc/DatabasePokemon/blob/master/backend/scrapper/data_save/pokemons.txt
- Text file Pokemon types https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/types_pokemons.txt
- Text file Pokemon Status
https://raw.githubusercontent.com/Renanrbsc/DatabasePokemon/master/backend/scrapper/data_save/status_pokemons.txt

### Imports

In [1]:
import pandas as pd

## Loading csv file

In [2]:
pokemons = pd.read_csv('datasets/pokemons.csv', sep=',', header=0)
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pokedex       809 non-null    int64
 1   type             809 non-null    object
 2   type_two         405 non-null    object
 3   name             809 non-null    object
 4   height           809 non-null    float64
 5   weight           809 non-null    float64
 6   category         809 non-null    object
 7   ability          807 non-null    object
 8   ability_two      380 non-null    object
 9   weakness         809 non-null    object
 10  weakness_two     712 non-null    object
 11  description      809 non-null    object
 12  HP               809 non-null    int64
 13  Attack           809 non-null    int64
 14  Defense          809 non-null    int64
 15  Special_Attack   809 non-null    int64
 16  Special_Defense  809 non-null    int64
 17  Speed            809 non-null    int64
dtypes: float64(2), int64(7), object(9)
memory usage: 113.9+ KB

## Exploratory Analysis

#### We'll check columns in the df

In [3]:
pokemons.shape

(809, 18)

In [4]:
pokemons.index

RangeIndex(start=0, stop=809, step=1)

In [5]:
pokemons.columns

Index(['id_pokedex', 'type', 'type_two', 'name', 'height', 'weight',
       'category', 'ability', 'ability_two', 'weakness', 'weakness_two',
       'description', 'HP', 'Attack', 'Defense', 'Special_Attack',
       'Special_Defense', 'Speed'],
      dtype='object')

In [6]:
pokemons.dtypes

id_pokedex           int64
type                object
type_two            object
name                object
height             float64
weight             float64
category            object
ability             object
ability_two         object
weakness            object
weakness_two        object
description         object
HP                   int64
Attack               int64
Defense              int64
Special_Attack       int64
Special_Defense      int64
Speed                int64
dtype: object

#### We'll see first and last record

In [7]:
pokemons.head(1)

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
0,1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...,3,3,3,4,4,3

In [8]:
pokemons.tail(1)

,id_pokedex,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
808,809,Steel,NaN,Melmetal,2.5,800.0,Hex Nut,NaN,NaN,Fire,Fighting,Revered long ago for its capacity to create ir...,8,9,9,5,4,2

#### Let's select the id_pokemon column and set it as the index

In [9]:
pokemons.set_index('id_pokedex', inplace=True)

In [10]:
pokemons.head()

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
1,Grass,Poison,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...,3,3,3,4,4,3
2,Grass,Poison,Ivysaur,1.0,13.0,Seed,Overgrow,NaN,Fire,Flying,There is a bud on this Pokémons back. To suppo...,4,4,4,5,5,4
3,Grass,Poison,Venusaur,2.0,100.0,Seed,Overgrow,NaN,Fire,Flying,There is a large flower on Venusaurs back. The...,5,5,5,6,6,5
4,Fire,NaN,Charmander,0.6,8.5,Lizard,Blaze,NaN,Ground,Rock,The flame that burns at the tip of its tail is...,3,4,3,4,3,4
5,Fire,NaN,Charmeleon,1.1,19.0,Flame,Blaze,NaN,Ground,Rock,Charmeleon mercilessly destroys its foes using...,4,4,4,5,4,5

### We'll look at the Pokémon type column now

In [11]:
# Column 'type'
# amount of types // total amount // number of nulls
pokemons['type'].nunique(), pokemons['type'].shape, pokemons['type'].isnull().sum()

(18, (809,), 0)

In [12]:
# Column 'type_two'
# amount of types // total amount // number of nulls
pokemons['type_two'].nunique(), pokemons['type_two'].shape, pokemons['type_two'].isnull().sum()

(18, (809,), 404)

In [13]:
type_one = pokemons['type'].value_counts()
type_one.head(18)

Water       114
Normal      105
Grass        78
Bug          72
Fire         53
Psychic      53
Rock         46
Electric     40
Poison       34
Ground       32
Dark         29
Fighting     29
Dragon       27
Ghost        27
Steel        26
Ice          23
Fairy        18
Flying        3
Name: type, dtype: int64

In [14]:
type_two = pokemons['type_two'].value_counts()
type_two.head(18)

Flying      95
Ground      32
Poison      32
Fairy       29
Psychic     29
Fighting    25
Steel       23
Grass       19
Dragon      18
Water       17
Dark        17
Ghost       16
Rock        14
Fire        11
Ice         11
Electric     8
Bug          5
Normal       4
Name: type_two, dtype: int64

In [15]:
total_types = type_one.sort_index() + type_two.sort_index()
total_types.sort_values(ascending=False).head(18)

Water       131
Normal      109
Flying       98
Grass        97
Psychic      82
Bug          77
Poison       66
Fire         64
Ground       64
Rock         60
Fighting     54
Steel        49
Electric     48
Fairy        47
Dark         46
Dragon       45
Ghost        43
Ice          34
dtype: int64

### -------------------------- Search --------------------------------------------------------------------

Fast Search https://www.pokemon.com/br/pokedex/200

In [16]:
pokemons[pokemons.index == 200]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
200,Ghost,NaN,Misdreavus,0.7,1.0,Screech,Levitate,NaN,Dark,Ghost,"Misdreavus frightens people with a creepy, sob...",4,4,4,5,5,5

Fast Search https://www.pokemon.com/br/pokedex/750

In [17]:
po = pokemons[pokemons == 2]

In [18]:
pokemons[pokemons.index == 750]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
750,Ground,NaN,Mudsdale,2.5,920.0,Draft Horse,Own Tempo,Stamina,Water,Grass,It spits a mud that provides resistance to bot...,6,8,6,4,5,3

In [19]:
pokemons[pokemons.Defense >= 14]

,type,type_two,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,,
213,Bug,Rock,Shuckle,0.6,20.5,Mold,Sturdy,Gluttony,Rock,Steel,"Shuckle quietly hides itself under rocks, keep...",2,1,14,1,14,1

### -------------------------- ML --------------------------------------------------------------------

In [20]:
# Preenchimento de Nulos nas colunas principais
pokemons['ability'].fillna('unskilled', inplace=True)

In [21]:
# Colunas para usar na função Dummies 0, 1
pokemons[['type', 'type_two', 'ability', 'ability_two', 'weakness', 'weakness_two']]

                type type_two      ability ability_two weakness weakness_two
id_pokedex
1              Grass   Poison     Overgrow         NaN     Fire       Flying
2              Grass   Poison     Overgrow         NaN     Fire       Flying
3              Grass   Poison     Overgrow         NaN     Fire       Flying
4               Fire      NaN        Blaze         NaN   Ground         Rock
5               Fire      NaN        Blaze         NaN   Ground         Rock
...              ...      ...          ...         ...      ...          ...
805             Rock    Steel  Beast Boost         NaN    Water     Fighting
806             Fire    Ghost  Beast Boost         NaN    Water        Ghost
807         Electric      NaN  Volt Absorb         NaN   Ground          NaN
808            Steel      NaN    unskilled         NaN     Fire     Fighting
809            Steel      NaN    unskilled         NaN     Fire     Fighting

[809 rows x 6 columns]

In [22]:
# separando dados da segunda coluna pra usar apenas uma colunas de predição
pokemons_one = pokemons.drop(columns=['type_two'])
pokemons_two = pokemons.drop(columns=['type'])
pokemons_two.rename(columns={'type_two':'type'}, inplace=True)

In [23]:
# juntando as duas colunas em 1 dataframe e removendo as linhas type nulas
pokemons_ml = pd.concat([pokemons_one, pokemons_two])
pokemons_ml.dropna(subset=['type'], inplace=True)
pokemons_ml

,type,name,height,weight,category,ability,ability_two,weakness,weakness_two,description,HP,Attack,Defense,Special_Attack,Special_Defense,Speed
id_pokedex,,,,,,,,,,,,,,,,
1,Grass,Bulbasaur,0.7,6.9,Seed,Overgrow,NaN,Fire,Flying,Bulbasaur can be seen napping in bright sunlig...,3,3,3,4,4,3
2,Grass,Ivysaur,1.0,13.0,Seed,Overgrow,NaN,Fire,Flying,There is a bud on this Pokémons back. To suppo...,4,4,4,5,5,4
3,Grass,Venusaur,2.0,100.0,Seed,Overgrow,NaN,Fire,Flying,There is a large flower on Venusaurs back. The...,5,5,5,6,6,5
4,Fire,Charmander,0.6,8.5,Lizard,Blaze,NaN,Ground,Rock,The flame that burns at the tip of its tail is...,3,4,3,4,3,4
5,Fire,Charmeleon,1.1,19.0,Flame,Blaze,NaN,Ground,Rock,Charmeleon mercilessly destroys its foes using...,4,4,4,5,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Fairy,Magearna,1.0,80.5,Artificial,Soul-Heart,NaN,Fire,Ground,"This artificial Pokémon, constructed more than...",5,6,7,8,7,4
802,Ghost,Marshadow,0.7,22.2,Gloomdweller,Technician,NaN,Ghost,Psychic,It slips into the shadows of others and mimics...,6,8,5,6,6,8
804,Dragon,Naganadel,3.6,150.0,Poison Pin,Beast Boost,NaN,Psychic,Ground,It stores hundreds of liters of poisonous liqu...,5,5,5,8,5,8
805,Steel,Stakataka,5.5,820.0,Rampart,Beast Boost,NaN,Water,Fighting,It appeared from an Ultra Wormhole. Each oneap...,4,8,13,4,6,1
806,Ghost,Blacephalon,1.8,13.0,Fireworks,Beast Boost,NaN,Water,Ghost,"It slithers toward people. Then, without warni...",4,8,4,9,5,7

In [24]:
# Criação das variaveis Dummies e 
# preenchimento dos valores nulos posteriores
pokemon_weakness = pokemons_ml[['weakness', 'weakness_two']].copy()
dummies_weakness = pd.get_dummies(pokemon_weakness['weakness'])

pokemon_weakness.drop(columns='weakness', inplace=True)
pokemon_weakness.rename(columns={'weakness_two': 'weakness'}, inplace=True)

dummies_weakness = dummies_weakness + pd.get_dummies(pokemon_weakness['weakness'])

# dummies_weakness.rename(columns={'None': 'Normal'}, inplace=True)
# dummies_weakness['Normal'].fillna(0, inplace=True)
# dummies_weakness['Normal'] = dummies_weakness['Normal'].astype(int)

dummies_weakness

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,None,Poison,Psychic,Rock,Steel,Water
id_pokedex,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,0,0,0,NaN,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,0,0,NaN,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,0,0,0,NaN,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,NaN,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,NaN,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,0,0,0,0,0,0,1,0,0,0,1,0,NaN,0,0,0,0,0
802,0,0,0,0,0,0,0,0,1,0,0,0,NaN,0,1,0,0,0
804,0,0,0,0,0,0,0,0,0,0,1,0,NaN,0,1,0,0,0
805,0,0,0,0,0,1,0,0,0,0,0,0,NaN,0,0,0,0,1
806,0,0,0,0,0,0,0,0,1,0,0,0,NaN,0,0,0,0,1

In [25]:
pokemon_skills = pokemons_ml[['ability', 'ability_two']].copy()
dummies_skills = pd.get_dummies(pokemon_skills['ability'])

pokemon_skills.drop(columns='ability', inplace=True)
pokemon_skills.rename(columns={'ability_two': 'ability'}, inplace=True)

dummies_skills_two = pd.get_dummies(pokemon_skills['ability'])

dummies_skills

,Adaptability,Aftermath,Air Lock,Anticipation,Arena Trap,Aura Break,Bad Dreams,Battery,Battle Armor,Beast Boost,...,Victory Star,Vital Spirit,Volt Absorb,Water Absorb,Water Bubble,Water Compaction,White Smoke,Wimp Out,Wonder Guard,unskilled
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
804,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
805,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
806,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [26]:
pokemon_category = pokemons_ml['category'].copy()
dummies_category = pd.get_dummies(pokemon_category)

dummies_category

,Abundance,Acorn,Alpha,Angler,Ant Pit,Anteater,Antenna,Aqua Mouse,Aqua Rabbit,Arm Thrust,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
806,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
pokemon_all_dummies = pd.concat([dummies_weakness, dummies_skills_two, dummies_skills, dummies_category], axis=1)
pokemon_all_dummies

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
802,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
805,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
806,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
pokemons_ml = pd.concat([pokemons_ml[['type', 'height','weight','category','HP',
                                      'Attack','Defense','Special_Attack',
                                      'Special_Defense','Speed']], pokemon_all_dummies], axis=1)
pokemons_ml

,type,height,weight,category,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,Grass,0.7,6.9,Seed,3,3,3,4,4,3,...,0,0,0,0,0,0,0,0,0,0
2,Grass,1.0,13.0,Seed,4,4,4,5,5,4,...,0,0,0,0,0,0,0,0,0,0
3,Grass,2.0,100.0,Seed,5,5,5,6,6,5,...,0,0,0,0,0,0,0,0,0,0
4,Fire,0.6,8.5,Lizard,3,4,3,4,3,4,...,0,0,0,0,0,0,0,0,0,0
5,Fire,1.1,19.0,Flame,4,4,4,5,4,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Fairy,1.0,80.5,Artificial,5,6,7,8,7,4,...,0,0,0,0,0,0,0,0,0,0
802,Ghost,0.7,22.2,Gloomdweller,6,8,5,6,6,8,...,0,0,0,0,0,0,0,0,0,0
804,Dragon,3.6,150.0,Poison Pin,5,5,5,8,5,8,...,0,0,0,0,0,0,0,0,0,0
805,Steel,5.5,820.0,Rampart,4,8,13,4,6,1,...,0,0,0,0,0,0,0,0,0,0
806,Ghost,1.8,13.0,Fireworks,4,8,4,9,5,7,...,0,0,0,0,0,0,0,0,0,0

In [29]:
pokemons_ml.drop(columns='category', inplace=True)

In [30]:
pokemons_ml

,type,height,weight,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Bug,...,Wish,Wolf,Wood Gecko,Woodpecker,Wool,Woolly Crab,Worm,Wrestling,Young Fowl,Zen Charm
id_pokedex,,,,,,,,,,,,,,,,,,,,,
1,Grass,0.7,6.9,3,3,3,4,4,3,0,...,0,0,0,0,0,0,0,0,0,0
2,Grass,1.0,13.0,4,4,4,5,5,4,0,...,0,0,0,0,0,0,0,0,0,0
3,Grass,2.0,100.0,5,5,5,6,6,5,0,...,0,0,0,0,0,0,0,0,0,0
4,Fire,0.6,8.5,3,4,3,4,3,4,0,...,0,0,0,0,0,0,0,0,0,0
5,Fire,1.1,19.0,4,4,4,5,4,5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Fairy,1.0,80.5,5,6,7,8,7,4,0,...,0,0,0,0,0,0,0,0,0,0
802,Ghost,0.7,22.2,6,8,5,6,6,8,0,...,0,0,0,0,0,0,0,0,0,0
804,Dragon,3.6,150.0,5,5,5,8,5,8,0,...,0,0,0,0,0,0,0,0,0,0
805,Steel,5.5,820.0,4,8,13,4,6,1,0,...,0,0,0,0,0,0,0,0,0,0
806,Ghost,1.8,13.0,4,8,4,9,5,7,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
pokemons_ml[['HP', 'Attack', 'Defense', 'Special_Attack', 'Special_Defense', 'Speed']]

            HP  Attack  Defense  Special_Attack  Special_Defense  Speed
id_pokedex
1            3       3        3               4                4      3
2            4       4        4               5                5      4
3            5       5        5               6                6      5
4            3       4        3               4                3      4
5            4       4        4               5                4      5
...         ..     ...      ...             ...              ...    ...
801          5       6        7               8                7      4
802          6       8        5               6                6      8
804          5       5        5               8                5      8
805          4       8       13               4                6      1
806          4       8        4               9                5      7

[1214 rows x 6 columns]

In [32]:
pokemons['type'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [33]:
pokemons_ml['type'] = pokemons_ml['type'].map({'Grass':1, 'Fire':2, 'Water':3, 'Bug':4, 'Normal':5, 
                                               'Poison':6, 'Electric':7, 'Ground':8, 'Fairy':9, 
                                               'Fighting':10, 'Psychic':11, 'Rock':12, 'Ghost':13, 
                                               'Ice':14, 'Dragon':15, 'Dark':16, 'Steel':17, 'Flying':18})

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [35]:
# passando os valores de x e y como Dataframes
y = pokemons_ml['type']
pokemons_ml.drop(columns='type', inplace=True)
x = pokemons_ml

In [36]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1214 entries, 1 to 806
Columns: 887 entries, height to Zen Charm
dtypes: float64(3), int64(6), uint8(878)
memory usage: 1.1 MB

In [37]:
# Divisão dos dados em 80% Treino e 20% Test de Predição
xtrain, xtest, ytrain, ytest = train_test_split(x, y,
                                                test_size=0.2, 
                                                random_state=42)
# criando e treinando o modelo
model = LinearRegression()
model.fit(xtrain, ytrain)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# para visualizar os coeficientes encontrados
# model.coef_

In [ ]:
# para visualizar o R² TRAIN
model.score(xtrain, ytrain)

In [ ]:
# para visualizar o R²
model.score(xtest, ytest)

In [ ]:
# mostrando as previsões para o mesmo conjunto passado
pokemon_predict = model.predict(xtest)

In [ ]:
# Resumindo o DataFrame da predição
pokemon_predict = pd.DataFrame(data=pokemon_predict)
pokemon_predict.index = xtest.index
pokemon_predict.rename(columns={0:'type_predict'}, inplace=True)
pokemon_predict['type_predict'] = pokemon_predict['type_predict'].astype(int)
pokemon_pred = pokemons['name'][xtest.index]
pokemon_pred = pd.concat([pokemon_pred, ytest, pokemon_predict], axis=1)

In [ ]:
pokemon_pred

In [ ]:
pokemon_pred['type_predict'].sort_values(ascending=False)

In [ ]:
pokemon_pred.loc[pokemon_pred['type_predict'] < 0, 'type_predict'] = 0
pokemon_pred

In [ ]:
# Corrigindo outlayers
pokemon_pred.loc[pokemon_pred['type_predict'] > 18, 'type_predict'] = 19
pokemon_pred.loc[pokemon_pred['type_predict'] < 0, 'type_predict'] = 0

In [ ]:
import plotly.express as px

In [ ]:
pokemon_compare_100

In [ ]:
pokemon_pred['id'] = pokemon_pred.index.astype(str)
pokemon_compare_100 = pokemon_pred.iloc[:50, :]

fig = px.scatter(pokemon_compare_100,  y=pokemon_compare_100.columns[1:3], x=pokemon_compare_100.name,
              labels=dict(value="Tipo", name="Nome Pokemon"),
              title="Tipos de Pokemon Previstos")
fig.show()